# Basic Data Types and operations

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Composite-Data-Types" data-toc-modified-id="Composite-Data-Types-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Composite Data Types</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Integers

Non decimal numbers

In [5]:
18 + 10

28

In [6]:
100 + 12

112

In [11]:
earnings = 300

In [12]:
salary = 180

In [13]:
total_money = earnings + salary

In [14]:
total_money

480

In [15]:
type(218)

int

In [16]:
type(total_money)

int

In [18]:
type(salary)

int

## Floats

In [19]:
type(0.7)

float

In [22]:
4.5 + 9

13.5

In [23]:
1 - 7.5

-6.5

In [24]:
a = 2
b = 3
c = 5

In [29]:
a * b

6

In [30]:
a * (b + c)

16

In [31]:
a + b * c

17

In [32]:
(a + b) * c

25

`**` powers base to exponent. In `a ** b`, `a` is the base, `b` is the exponent

In [38]:
a, b, c

(2, 3, 5)

In [39]:
a ** b

8

In [40]:
10 ** 2

100

In [41]:
10 ** 3

1000

In [42]:
1 / 8

0.125

In [45]:
100 / 7

14.285714285714286

In [48]:
3 + 2

5

Paréntesis Markdown Tips

~~Scratch this.~~

Puedes ver los detalles en [mi Github](https://github.com/sheriffff)

La variable `salario` hemos de añadirla a la lista `mis_empleados`

Hemos declarado la variable $a=3$ para balbla

$$a^{-b}=\frac{1}{a^b}$$

In [46]:
2 ** (-3)

0.125

In [52]:
10 ** (-3)

0.001

In [ ]:
(-2) ** 3

In [53]:
n = 12

In [54]:
n / 5

2.4

In [55]:
23 / 5

4.6

In [56]:
23 // 5

4

In [59]:
23 % 5

3

In [60]:
7 % 2

1

In [63]:
import random

In [66]:
7 % 2

1

In [67]:
88 % 2

0

In [68]:
20 % 4 # resto

0

In [69]:
import time

In [91]:
for i in range(100):
    # long process simulation
    time.sleep(0.1)
    
    if i % 10 == 0:
        print(f"voy por {i}")

voy por 0
voy por 10
voy por 20
voy por 30
voy por 40
voy por 50
voy por 60
voy por 70
voy por 80
voy por 90

In [92]:
abs(-5.5)

5.5

In [93]:
abs(5.5)

5.5

In [94]:
type(5.6)

float

In [99]:
type("5.6")

str

In [107]:
float("5.6") + 3

8.6

In [110]:
float("hola")

ValueError: could not convert string to float: 'hola'

In [111]:
round(6.77)

7

In [112]:
round(6.77, 1)

6.8

In [114]:
round(123456, -3)

123000

In [126]:
import math

In [121]:
math.floor(6.55)

6

In [119]:
math.ceil(6.23)

7

In [129]:
# what number should we power 10 to to obtain 10000
math.log10(10000)

4.0

In [130]:
math.log10(1000)

3.0

In [131]:
math.log10(100)

2.0

## Strings

In [133]:
nombre = "juan"

In [134]:
apellido = "vázquez"

In [135]:
type(nombre)

str

In [136]:
frase = "Me gusta el arroz"

In [137]:
frase + nombre

'Me gusta el arrozjuan'

In [139]:
nombre + apellido

'juanvázquez'

In [138]:
nombre + " " + apellido

'juan vázquez'

In [141]:
nombre * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [142]:
nombre

'juan'

In [149]:
# check contains
"a" in nombre

True

In [150]:
# check contains
"an" in nombre

True

In [151]:
# check contains
"ana" in nombre

False

In [152]:
# check contains
"jn" in nombre

False

In [153]:
len(nombre)

4

`len` is a function that operates on string variable `frase`

In [154]:
frase

'Me gusta el arroz'

In [160]:
len(frase)

17

`upper` is a method of the string class

In [ ]:
upper(nombre)

In [161]:
nombre.upper()

'JUAN'

In [162]:
nombre.lower()

'juan'

In [163]:
nombre.endswith('n')

True

In [164]:
nombre.capitalize()

'Juan'

In [165]:
nombre.replace("a", "e")

'juen'

Slicing

In [166]:
frase

'Me gusta el arroz'

In [167]:
frase[0]

'M'

In [168]:
frase[4]

'u'

In [169]:
frase[-1]

'z'

In [170]:
frase[3:10]

'gusta e'

In [174]:
frase[10:]

'l arroz'

In [175]:
frase[:10]

'Me gusta e'

In [176]:
frase[-3:]

'roz'

In [177]:
frase[:-3]

'Me gusta el ar'

In [178]:
frase[-7:-3]

'l ar'

In [183]:
frase.split()

['Me', 'gusta', 'el', 'arroz']

In [184]:
palabras = frase.split()

In [187]:
palabras

['Me', 'gusta', 'el', 'arroz']

In [188]:
type(palabras)

list

In [189]:
frase.split("a")

['Me gust', ' el ', 'rroz']

In [197]:
email = "micorreo_amigo@yahoo.com"

In [198]:
email.split("@")[1].split(".")[0]

'yahoo'

## Booleans

In [199]:
True

True

In [200]:
False

False

In [201]:
type(True)

bool

In [202]:
tiene_entrada = False

In [203]:
tiene_entrada

False

In [204]:
type(tiene_entrada)

bool

In [205]:
not tiene_entrada

True

In [207]:
if tiene_entrada:
    print("pasa")
else:
    print("vete")

vete

In [208]:
n = 12

In [209]:
n > 5

True

In [210]:
n > 60

False

In [211]:
n == 3 + 9

True

In [212]:
4 == 3 + 2

False

In [213]:
5 == "5"

False

In [214]:
edad = 15

In [215]:
edad

15

In [216]:
edad > 16

False

In [217]:
edad % 3

0

In [218]:
(edad > 16) or (edad % 3 == 0)

True

In [219]:
(edad > 16) and (edad % 3 == 0)

False

In [220]:
(edad > 14) and (edad % 3 == 0)

True

## Composite Data Types

### Lists

lists can contain different types

In [222]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi", 5, True, "Pepe"]

In [223]:
type(nombres)

list

In [224]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe']

In [225]:
# list can be appended elements (vs tuple)
nombres.append("Jose")

In [226]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

Slicing

In [227]:
nombres[0]

'Rafa'

In [228]:
nombres[1:3]

['Pepe', 'Sonia']

In [229]:
nombres[:3]

['Rafa', 'Pepe', 'Sonia']

In [230]:
nombres[2:]

['Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [231]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [235]:
# assign
nombres[0] = "Rafa R."

In [236]:
nombres

['Rafa R.', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [237]:
nombres.remove("Pepe")

In [239]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [244]:
nombres.remove("Jose")

In [245]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe']

In [246]:
nombres.reverse()

In [247]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [248]:
"Pepe" in nombres

True

In [249]:
"Pep" in nombres

False

In [251]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [252]:
if "Sonia" not in nombres:
    print("Sonia no es parte de la lista")

In [253]:
if "Sonia" in nombres:
    print("Sonia es parte de la lista")

Sonia es parte de la lista

In [259]:
n

True

In [264]:
for n in nombres:
    if "a" in n:
        print(n)

TypeError: argument of type 'bool' is not iterable

In [265]:
equipos = ["RM", "Barca", "Zgz"]

In [266]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [267]:
equipos

['RM', 'Barca', 'Zgz']

In [268]:
nombres + equipos

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.', 'RM', 'Barca', 'Zgz']

In [269]:
equipos * 3

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [270]:
len(nombres)

6

In [271]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [276]:
edades

[12, 86, 35, 67, 44, 23, 12]

In [272]:
type(edades)

list

In [273]:
min(edades)

12

In [274]:
max(edades)

86

In [275]:
edades.count(12)

2

In [280]:
nombres.remove(True)
nombres.remove(5)

In [281]:
nombres

['Pepe', 'Javi', 'Sonia', 'Rafa R.']

In [282]:
nombres.append("Julio")

In [283]:
nombres

['Pepe', 'Javi', 'Sonia', 'Rafa R.', 'Julio']

In [284]:
nombres.insert(2, "Juan")

In [286]:
nombres

['Pepe', 'Javi', 'Juan', 'Sonia', 'Rafa R.', 'Julio']

In [287]:
nombres.index("Sonia")

3

In [288]:
nombres.sort()

In [289]:
nombres

['Javi', 'Juan', 'Julio', 'Pepe', 'Rafa R.', 'Sonia']

In [290]:
edades.sort(reverse=True)

In [291]:
edades

[86, 67, 44, 35, 23, 12, 12]

In [293]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [294]:
len(amigos_de_students)

2

In [300]:
amigos_de_students[0]

['Pepe', 'Javi']

In [296]:
amigos_de_students[1]

['Paula', 'Roćio', 'Santi']

In [303]:
amigos_de_students[1][1].upper()

'ROĆIO'

In [305]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [306]:
len(paises)

91

**Exercise**: create a new list keeping only countries containing "r", in upper case

In [307]:
paises_especiales = []

In [315]:
for pais in paises:
    if "r" in pais:
        paises_especiales.append(pais.upper())

In [317]:
len(paises_especiales)

45

In [316]:
paises_especiales

['ALGERIA',
 'ANDORRA',
 'ARGENTINA',
 'ARMENIA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHRAIN',
 'BARBADOS',
 'BELARUS',
 'BOSNIA HERZEGOVINA',
 'BRAZIL',
 'BRUNEI',
 'BULGARIA',
 'BURKINA',
 'BURUNDI',
 'CAMEROON',
 'CAPE VERDE',
 'CENTRAL AFRICAN REP',
 'COMOROS',
 'CONGO {DEMOCRATIC REP}',
 'CROATIA',
 'CYPRUS',
 'DENMARK',
 'EAST TIMOR',
 'ECUADOR',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'FRANCE',
 'GEORGIA',
 'GERMANY',
 'GREECE',
 'GRENADA',
 'HONDURAS',
 'HUNGARY',
 'IRAN',
 'IRAQ',
 'IRELAND {REPUBLIC}',
 'ISRAEL',
 'IVORY COAST',
 'JORDAN',
 'KIRIBATI',
 'KOREA NORTH',
 'KOREA SOUTH']

### Tuples

vs Lists: not dynamic

In [324]:
edades2 = (44, 55, 98, 23, 22, 21, 3)

In [325]:
type(edades2)

tuple

Tuples are inmutable: you cannot 
 - change its entries
 - append new values

In [331]:
edades2[0] = 11

TypeError: 'tuple' object does not support item assignment

In [332]:
edades2.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [333]:
mas_edades = (44, 45, 48, 49)

In [334]:
todas = edades2 + mas_edades

In [335]:
todas

(44, 55, 98, 23, 22, 21, 3, 44, 45, 48, 49)

Single element tuples:

In [338]:
my_tup = (7, )

In [339]:
type(my_tup)

tuple

In [340]:
len(my_tup)

1

Tuples:
 * Faster
 * Data cannot be modified

A `return` statement in a function can return several values as a tuple

In [356]:
def suma_y_resta(a, b):
    return a + b, a - b

In [357]:
suma_y_resta(11, 5)

(16, 6)

### Sets

 * Unordered
 * Unique elements

In [358]:
paises = ["France"] * 3 + ["Spain"] * 5 + ["US"] * 2

In [359]:
paises

['France',
 'France',
 'France',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'US',
 'US']

In [360]:
paises_unicos_yo = set(paises)

In [361]:
paises_unicos_yo

{'France', 'Spain', 'US'}

In [363]:
type(paises_unicos_yo)

set

In [364]:
paises_unicos_yo.update({"Rusia", "Japón", "Spain"})

In [365]:
len(paises_unicos_yo)

5

In [366]:
paises_unicos_yo

{'France', 'Japón', 'Rusia', 'Spain', 'US'}

In [367]:
paises_unicos_tu = {"Spain", "Ireland", "Italy", "Venezuela"}

In [368]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela'}

In [369]:
paises_unicos_tu.union(paises_unicos_yo)

{'France', 'Ireland', 'Italy', 'Japón', 'Rusia', 'Spain', 'US', 'Venezuela'}

In [370]:
paises_unicos_tu.intersection(paises_unicos_yo)

{'Spain'}

In [371]:
paises_unicos_tu.difference(paises_unicos_yo)

{'Ireland', 'Italy', 'Venezuela'}

In [372]:
paises_unicos_tu.issubset(paises_unicos_yo)

False

In [373]:
list(paises_unicos_tu)

['Spain', 'Italy', 'Venezuela', 'Ireland']

In [375]:
paises_unicos_tu.append("Canada")

AttributeError: 'set' object has no attribute 'append'

In [376]:
paises_unicos_tu.add("Zimbabwe")

In [377]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela', 'Zimbabwe'}

### Dictionaries

In [ ]:
# bad
manu = [31, "manuel", "Madrid", 1.84, False]

In [379]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [380]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [381]:
type(persona)

dict

In [385]:
persona["age"]

31

In [386]:
persona["name"]

'Manuel'

In [389]:
persona["name"] = "Manuel Lopez"

In [390]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [391]:
persona["country"]

KeyError: 'country'

In [392]:
# add new key, value pair to a dictionary
persona["country"] = "Spain"

In [393]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [398]:
persona["ocupacion"]["tiempo"] = 8

{'name': 'profe', 'tiempo': 8, 'salario': 100}

In [397]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 8, 'salario': 100},
 'country': 'Spain'}

In [402]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [403]:
cities_population["Barcelona"]

5000000

In [404]:
cities_population["Madrid"]

6000000

In [405]:
cities_population["Paris"]

KeyError: 'Paris'

In [406]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 8, 'salario': 100},
 'country': 'Spain'}

In [407]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'friends', 'ocupacion', 'country'])

In [408]:
persona.values()

dict_values([31, 'Manuel Lopez', 'Madrid', 1.84, False, ['Juan', 'Luis'], {'name': 'profe', 'tiempo': 8, 'salario': 100}, 'Spain'])

To iterate through a dictionary's items, we must use `dict.items()`

In [416]:
for k, v in persona.items():
    print(k)
    print("hola")
    print(v)
    print("\n")

age
hola
31


name
hola
Manuel Lopez


city
hola
Madrid


height
hola
1.84


has_children
hola
False


friends
hola
['Juan', 'Luis']


ocupacion
hola
{'name': 'profe', 'tiempo': 8, 'salario': 100}


country
hola
Spain

## Summary

 * Lists and Dictionaries are fundamental and daily usage data types
 * Lists vs tuples (static, inmutable)
 * Sets have unique elements

Example

In [421]:
profes = [
    {
        "name": "Juan", 
        "edad": 77,
        "has_children": True
    },
    {
        "name": "Pepe", 
        "edad": 73,
        "has_children": False
    }
]

In [422]:
profes

[{'name': 'Juan', 'edad': 77, 'has_children': True},
 {'name': 'Pepe', 'edad': 73, 'has_children': False}]

In [423]:
type(profes)

list

In [425]:
type(profes[0])

dict

In [428]:
for p in profes:
    if p["has_children"]:
        print(p["name"], "needs vacation")

Juan needs vacation