# Basic Data Types and operations

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Composite-Data-Types" data-toc-modified-id="Composite-Data-Types-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Composite Data Types</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Integers

Non decimal numbers

In [ ]:
18 + 10

In [ ]:
100 + 12

In [ ]:
earnings = 200

In [ ]:
salary = 18

In [ ]:
total_money = earnings + salary

In [ ]:
total_money

In [ ]:
type(218)

In [ ]:
type(total_money)

In [ ]:
type(salary)

## Floats

In [ ]:
type(0.7)

In [ ]:
type(3.0)

In [ ]:
4.5 + 9

In [ ]:
1 - 7.5

In [ ]:
a = 2
b = 3
c = 5

In [ ]:
a * b

In [ ]:
a * (b + c)

In [ ]:
a + b * c

In [ ]:
(a + b) * c

`**` powers base to exponent. In `a ** b`, `a` is the base, `b` is the exponent

In [ ]:
a, b, c

In [ ]:
a ** b

In [ ]:
10 ** 2

In [ ]:
10 ** 3

In [ ]:
1 / 8

In [ ]:
100 / 5

$$a^{-b}=\frac{1}{a^b}$$

In [ ]:
2 ** (-3)

In [ ]:
10 ** (-3)

In [ ]:
(-2) ** 3

In [ ]:
n = 12

In [ ]:
n / 5

In [ ]:
23 / 5

In [ ]:
23 // 5

In [ ]:
23 % 5

In [ ]:
7 % 2

In [ ]:
20 % 4 # resto

In [ ]:
a = 0

In [ ]:
import time

In [ ]:
for i in range(100):
    # long process simulation
    time.sleep(0.1)
    
    if i % 10 == 0:
        print(f"voy por {i}")

In [ ]:
abs(-5.5)

In [ ]:
abs(5.5)

In [ ]:
type(5.6)

In [ ]:
type("5.6")

In [ ]:
float("5.6")

In [ ]:
type(float("5.6"))

In [ ]:
float("hola")

In [ ]:
round(6.77)

In [ ]:
round(6.77, 1)

In [ ]:
round(6.7785843, 4)

In [ ]:
round(123456, -3)

In [ ]:
import math

In [ ]:
math.floor(6.55)

In [ ]:
math.ceil(6.23)

In [ ]:
10 ** 4

In [ ]:
# what number should we power 10 to to obtain 10000
math.log10(10000)

In [ ]:
math.log10(1000)

In [ ]:
math.log10(100)

## Strings

In [ ]:
nombre = "juan"

In [ ]:
apellido = "vázquez"

In [ ]:
type(nombre)

In [ ]:
frase = "Me gusta el arroz"

In [ ]:
frase + nombre

In [ ]:
nombre + " " + apellido

In [ ]:
nombre * 4

In [ ]:
nombre * 4.1

In [ ]:
nombre

In [ ]:
# check contains
"a" in nombre

In [ ]:
# check contains
"an" in nombre

In [ ]:
# check contains
"ana" in nombre

In [ ]:
# check contains
"jn" in nombre

In [ ]:
len(nombre)

`len` is a function that operates on string variable `frase`

In [ ]:
frase

In [ ]:
len(frase)

`upper` is a method of the string class

In [ ]:
nombre.upper()

In [ ]:
nombre.lower()

In [ ]:
nombre.endswith('n')

In [ ]:
# look for methods
nombre.*low*?

In [ ]:
# look for methods
nombre.*cap*?

In [ ]:
# look for methods
nombre.capitalize()

In [ ]:
nombre.replace("a", "e")

Slicing

In [ ]:
frase

In [ ]:
frase[0]

In [ ]:
frase[4]

In [ ]:
frase[-1]

In [ ]:
frase[3:10]

In [ ]:
frase[:10]

In [ ]:
frase[12:]

In [ ]:
frase[-3:]

In [ ]:
type(frase)

In [ ]:
frase

In [ ]:
palabras = frase.split()

In [ ]:
palabras

In [ ]:
type(palabras)

In [ ]:
frase.split("a")

In [ ]:
email = "pepe@hotmail.com"

In [ ]:
email.split("@")[1].split(".")[0]

## Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [ ]:
tiene_entrada = False

In [ ]:
tiene_entrada

In [ ]:
type(tiene_entrada)

In [ ]:
not tiene_entrada

In [ ]:
if tiene_entrada:
    print("pasa")
else:
    print("vete")

In [ ]:
n = 12

In [ ]:
n > 5

In [ ]:
n > 60

In [ ]:
n == 3 + 9

In [ ]:
4 == 3 + 2

In [ ]:
5 == "5"

In [ ]:
edad = 15

In [ ]:
edad

In [ ]:
edad > 16

In [ ]:
edad % 3

In [ ]:
(edad > 16) or (edad % 3 == 0)

In [ ]:
(edad > 16) and (edad % 3 == 0)

In [ ]:
(edad > 14) and (edad % 3 == 0)

## Composite Data Types

### Lists

lists can contain different types

In [ ]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi", 5, True, "Pepe"]

In [ ]:
type(nombres)

In [ ]:
nombres

In [ ]:
# list can be appended elements (vs tuple)
nombres.append("Jose")

In [ ]:
nombres

Slicing

In [ ]:
nombres[0]

In [ ]:
nombres[1:3]

In [ ]:
nombres[:3]

In [ ]:
nombres[2:]

In [ ]:
# assign
nombres[0] = "Rafa R."

In [ ]:
nombres

In [ ]:
nombres.remove("Pepe")

In [ ]:
nombres

In [ ]:
nombres.remove("Jose")

In [ ]:
nombres

In [ ]:
nombres.reverse()

In [ ]:
nombres

In [ ]:
"Pepe" in nombres

In [ ]:
"Pep" in nombres

In [ ]:
if "Sonia" not in nombres:
    print("Sonia no es parte de la lista")

In [ ]:
equipos = ["RM", "Barca", "Zgz"]

In [ ]:
nombres

In [ ]:
equipos

In [ ]:
nombres + equipos

In [ ]:
equipos * 3

In [ ]:
len(nombres)

In [ ]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [ ]:
type(edades)

In [ ]:
min(edades)

In [ ]:
max(edades)

In [ ]:
edades.count(12)

In [ ]:
nombres.remove(True)
nombres.remove(5)

In [ ]:
nombres

In [ ]:
nombres.index("Sonia")

In [ ]:
nombres.sort()

In [ ]:
nombres

In [ ]:
edades.sort(reverse=True)

In [ ]:
edades

In [ ]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [ ]:
len(amigos_de_students)

In [ ]:
amigos_de_students[0]

In [ ]:
amigos_de_students[1]

In [ ]:
amigos_de_students[1][2].upper()

In [ ]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [ ]:
len(paises)

**Exercise**: create a new list keeping only countries containing "r", in upper case

### Tuples

vs Lists: not dynamic

In [ ]:
type(edades)

In [ ]:
edades

In [ ]:
edades[0]

Tuples are inmutable: you cannot 
 - change its entries
 - append new values

In [ ]:
edades[0] = 11

In [ ]:
edades.append(15)

In [ ]:
len(edades)

In [ ]:
mas_edades = (44, 45, 48, 49)

In [ ]:
todas = edades + mas_edades

In [ ]:
todas

Single element tuples:

In [ ]:
my_tup = (7, )

In [ ]:
type(my_tup)

In [ ]:
len(my_tup)

Tuples:
 * Faster
 * Data cannot be modified

### Sets

 * Unordered
 * Unique elements

In [ ]:
paises = ["France"] * 3 + ["Spain"] * 5 + ["US"] * 2

In [ ]:
paises

In [ ]:
paises_unicos_yo = set(paises)

In [ ]:
paises_unicos_yo

In [ ]:
type(paises_unicos_yo)

In [ ]:
paises_unicos_yo.update({"Rusia", "Japón", "Spain"})

In [ ]:
paises_unicos_yo

In [ ]:
paises_unicos_tu = {"Spain", "Ireland", "Italy", "Venezuela"}

In [ ]:
paises_unicos_tu

In [ ]:
paises_unicos_tu.union(paises_unicos_yo)

In [ ]:
paises_unicos_tu.intersection(paises_unicos_yo)

In [ ]:
paises_unicos_tu.difference(paises_unicos_yo)

In [ ]:
paises_unicos_tu.issubset(paises_unicos_yo)

In [ ]:
list(paises_unicos_tu)

In [ ]:
paises_unicos_tu.append("Canada")

In [ ]:
paises_unicos_tu.add("Zimbabwe")

In [ ]:
paises_unicos_tu

In [ ]:
# lists, sets, tuples can contain arbitrary objects
# if same type, may not be the best containers

In [ ]:
cosas = [31, "pepe", True, (4, 5, 6)]

In [ ]:
cosas

In [ ]:
type(cosas)

In [ ]:
len(cosas)

In [ ]:
cosas[-1]

### Dictionaries

In [ ]:
# bad
manu = [31, "manuel", "Madrid", 1.84, False]

In [ ]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [ ]:
persona

In [ ]:
type(persona)

In [ ]:
persona["age"]

In [ ]:
persona["name"]

In [ ]:
persona["name"] = "Manuel Lopez"

In [ ]:
persona

In [ ]:
persona["country"]

In [ ]:
# add new key, value pair to a dictionary
persona["country"] = "Spain"

In [ ]:
persona["ocupacion"]["tiempo"] = 8

In [ ]:
persona

In [ ]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [ ]:
cities_population["Barcelona"]

In [ ]:
cities_population["Madrid"]

In [ ]:
cities_population["Paris"]

In [ ]:
persona

In [ ]:
persona.keys()

In [ ]:
persona.values()

In [ ]:
for k, v in persona.items():
    print(k)
    print("hola")
    print(v)
    print("\n")

In [ ]:
pelis_fav = {
    "olaya": ["Batman", "Spiderman", "Cap America"],
    "manu": ["Batman", "Joker"],
    "juan": ["Spiderman", "Ironman"]
}

In [ ]:
peli = "Spiderman"

In [ ]:
for name, pelis in pelis_fav.items():
    if peli in pelis:
        print(name)

## Summary

 * Lists and Dictionaries are fundamental and daily usage data types
 * Lists vs tuples (static, inmutable)
 * Sets have unique elements