# Functions

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Known-functions" data-toc-modified-id="Known-functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Known functions</a></span></li><li><span><a href="#Motivation" data-toc-modified-id="Motivation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Motivation</a></span></li><li><span><a href="#Basic-syntax-and-examples" data-toc-modified-id="Basic-syntax-and-examples-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Basic syntax and examples</a></span><ul class="toc-item"><li><span><a href="#Functions-with-one-argument" data-toc-modified-id="Functions-with-one-argument-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Functions with one argument</a></span></li><li><span><a href="#Functions-with-no-arguments" data-toc-modified-id="Functions-with-no-arguments-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Functions with no arguments</a></span></li><li><span><a href="#Functions-that-return-nothing" data-toc-modified-id="Functions-that-return-nothing-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Functions that return nothing</a></span></li><li><span><a href="#Function-with-several-arguments" data-toc-modified-id="Function-with-several-arguments-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Function with several arguments</a></span></li></ul></li><li><span><a href="#Function-documentation" data-toc-modified-id="Function-documentation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Function documentation</a></span></li><li><span><a href="#Default-arguments" data-toc-modified-id="Default-arguments-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Default arguments</a></span></li><li><span><a href="#*args" data-toc-modified-id="*args-6"><span class="toc-item-num">6&nbsp;&nbsp;</span><code>*args</code></a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Exercises</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

## Known functions

In [17]:
print("Hola Mundo", "Adi贸s", "pepe")

Hola Mundo Adi贸s pepe

In [18]:
print("Hola Mundo", "Adi贸s", "manolo", sep="MADRID")

Hola MundoMADRIDAdi贸sMADRIDmanolo

In [19]:
frase = "ayer el lab casi no me deja dormir"

In [20]:
frase.split(" ")

['ayer', 'el', 'lab', 'casi', 'no', 'me', 'deja', 'dormir']

In [5]:
frase.split(sep="e", maxsplit=2)

['ay', 'r ', 'l lab casi no me deja dormir']

In [21]:
len("table")

5

In [22]:
import math

In [23]:
math.log10(1000)

3.0

In [24]:
math.log(1000, 3)

6.287709822868153

In [26]:
import random

In [45]:
random.uniform(0, 5)

4.394685128932721

## Motivation

**Example**: I am given a time in the following format: "04:52", minutes and seconds. Calculate the integer number of seconds.  
Then turn it into a function

In [46]:
t = "04:52"

In [47]:
t

'04:52'

In [54]:
min_str, sec_str = t.split(":")

In [60]:
secs = int(min_str) * 60 + int(sec_str)

In [19]:
# a lot of code for ONE functionality, let's join everything in a function

In [70]:
def get_total_seconds(time_string):
    min_str, sec_str = time_string.split(":")
    secs = int(min_str) * 60 + int(sec_str)
    
    return secs

In [71]:
get_total_seconds("04:52")

292

In [63]:
get_total_seconds("08:34")

514

In [64]:
get_total_seconds("05:33") + get_total_seconds("32:22")

2275

**Reusability** is the main motivation for function existence

## Basic syntax and examples

Function definition:
```
def function_name(parameter1, parameter2, ...):
    code
    return something
```

Function execution:  
`function_name(argument1, argument2, ...)`  
or, if you want to save result in a variable:  
`result = function_name(argument1, argument2, ...)`

### Functions with one argument

In [72]:
def square_number(x):
    return x ** 2

In [73]:
square_number(10)

100

In [74]:
square_number(4)

16

**Exercise**: given a sentence, yell it: return the same sentence upper case it and add "!!" at the end

`yell("hola amigo")`  
HOLA AMIGO!!

In [82]:
def yell(sentence):
    sentence_mayus = sentence.upper()
    sentence_yell = sentence_mayus + "!!"
    
    return sentence_yell

In [85]:
palabra = "juan"

In [98]:
# equivalent 
def yell(sentence):
    return sentence.upper() + "!!"

In [99]:
yell("hola amigo")

'HOLA AMIGO!!'

In [100]:
yell("viva Ironhack")

'VIVA IRONHACK!!'

Create a function that sums 4 to a number

**Exercise**: given a word, calculate the number of lower case letters

`count_lower_case_letters("pePiTo")`  
4

In [105]:
def count_lower_case_letters(word):
    count = 0
    for char in word:
        if char.islower():
            count += 1
    
    return count

In [106]:
count_lower_case_letters("hola")

4

In [107]:
count_lower_case_letters("holA")

3

### Functions with no arguments

In [110]:
def give_me_a_one():
    return 1

**Exercise**: build a function that returns the current weekday from 1 (Monday) to 7 (Sunday)

In [121]:
from datetime import datetime

In [139]:
datetime.today().weekday()

3

In [147]:
def today_weekday():
    return datetime.today().weekday()

In [148]:
today_weekday()

3

### Functions that return nothing

In [155]:
def dummy_function(a):
    b = a * 2

In [150]:
def say_hello():
    print("Hello!")
    # no return

In [157]:
say_hello()

Hello!

In [158]:
result = say_hello()

Hello!

In [159]:
result

In [160]:
result is None

True

In [163]:
a = [4, 5, 6]

In [161]:
# real use case
def insert_user(db_conn, user_name, user_age):
    db_conn.insert(user_name, user_age)

### Function with several arguments

In [164]:
def get_full_name(name, surname):
    full_name = name + " " + surname
    
    return full_name " + surname

In [166]:
get_full_name("pedro", "gim茅nez")

'pedro gim茅nez'

In [167]:
get_full_name("mesa", "silla")

'mesa silla'

**Exercise**: write a function that given two words, returns the longest one. If same length, returns the first

`get_longest_word("hola", "adios")`  
"adios"

In [173]:
len("coche") > len("mesa")

True

In [169]:
def get_longest_word(word1, word2):
    if len(word1) >= len(word2):
        return word1
    else:
        return word2

In [170]:
get_longest_word("casa", "coche")

'coche'

In [171]:
get_longest_word("holahola", "pesic")

'holahola'

**Exercise**: given 3 numbers, return maximum difference between two of them

`get_max_diff(4, 9, 8)`  
5

A function may have several `return` expressions. When the first one is executed, the function call finishes:

In [187]:
def rare_function(x):
    print("empezamos")
    return x * 2
    print("no llegamos")
    return x * 3
    print("no llegamos tampoco")

In [188]:
rare_function(100)

empezamos

200

## Function documentation

Code is written 1 time.  
Code is read 100 times.  
Help your peers understand your work.

In [191]:
def square_number(x):
    """
    Returns the square of a given number
    Args:
        x (float): number to square
    Returns:
        float: number squared
    """
    return x ** 2

In [190]:
square_number(8)

64

In [ ]:
square_number()

In [193]:
def get_total_seconds(time_str):
    """
    Given a time as a string with min:secs, return integer number of seconds
    Args:
        time_str (str): string with format min:secs
    Returns:
        int: number of total seconds
    """
    # your code here

## Default arguments

A function can have default arguments: no need to pass them when calling the function.

In [194]:
round(1.778)

2

In [195]:
round(1.778, 1)

1.8

In [204]:
def repeat(phrase, n=2):
    """
    Prints given phrase a number of times
    Args:
        phrase (str): phrase to print
        n (int): number of times to print. Defaults to 2.
    
    Returns:
        None
    """
    for _ in range(n):
        print(phrase)

In [202]:
repeat("hola", 4)

hola
hola
hola
hola

In [203]:
repeat("hola")

hola
hola

## `*args`

We want a function that multiplies 3 numbers

In [209]:
def multiply_3_nums(a, b, c):
    return a * b * c

In [212]:
multiply_3_nums(1, 2, 7)

14

In [213]:
multiply_3_nums(1, 2, 30)

60

In [214]:
multiply_3_nums(1, 2, 3, 4)

TypeError: multiply_3_nums() takes 3 positional arguments but 4 were given

We want a function that multiplies 4 numbers

In [218]:
def multiply_4_nums(a, b, c, d):
    return a * b * c * d

In [219]:
multiply_4_nums(1, 1, 1, 8)

8

In [220]:
multiply_4_nums(1, 1, 1, 8, 9)

TypeError: multiply_4_nums() takes 4 positional arguments but 5 were given

We would like a function that multiplies any number of numbers.

First, let's see how `*args` work

In [225]:
def explore_args(*args):
    print(args)
    print(type(args))

In [226]:
explore_args(1, 2, "pepe")

(1, 2, 'pepe')
<class 'tuple'>

In [222]:
def multiply_numbers(*numbers):
    product = 1
    
    for n in numbers:
        product = product * n

    return product

In [224]:
multiply_numbers(2, 3, 7, -2, 3)

-252

A function can have an argument before `*args`

In [227]:
def multiply_numbers_and_add_something(a, *numbers):
    print(numbers)
    product = 1
    
    for n in numbers:
        product = product * n
        
        
    return product + a

In [228]:
multiply_numbers_and_add_something(7, 1, 2, 3)

(1, 2, 3)

13

## Exercises

Build a function that decides if an integer number is prime or not.

A number is prime if it cannot be divided by anyone

143

/2 no  
/3 no  
/4 no  
/5 no  
/6 no  
/7 no  
/8 no  
/9 no  
/10 no  
/11 SI  

luego NO es primo

$143 = 11 \times 13$

In [264]:
def is_prime(n):
    # your code here
    for i in range(2, int(n ** 0.5) + 1):
        # print(f"probando el {i}...")
        if n % i == 0:
            # print(f"{n} se puede dividir por {i}")
            return False
    
    return True

In [265]:
is_prime(9)

False

In [266]:
is_prime(7)

True

In [267]:
is_prime(111)

False

In [268]:
is_prime(997)

True

In [276]:
[x for x in range(2, 50) if is_prime(x)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## Summary

 * Reusability is very important. Functions help us with that job

## Further materials

 * [Google docstrings documentation](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html)
 * [Project Euler: Math and programming problems](https://projecteuler.net/)