<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploramos-los-datos-que-tenemos" data-toc-modified-id="Exploramos-los-datos-que-tenemos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exploramos los datos que tenemos</a></span></li><li><span><a href="#Misión-1" data-toc-modified-id="Misión-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Misión 1</a></span><ul class="toc-item"><li><span><a href="#¡Datos-a-SQL!" data-toc-modified-id="¡Datos-a-SQL!-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¡Datos a SQL!</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-con-SQL" data-toc-modified-id="Nos-conectamos-con-SQL-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Nos conectamos con SQL</a></span></li><li><span><a href="#Creamos-el-esquema-desde-MySQL-Workbench-y-hacemos-forward-engineer" data-toc-modified-id="Creamos-el-esquema-desde-MySQL-Workbench-y-hacemos-forward-engineer-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Creamos el esquema desde MySQL Workbench y hacemos forward engineer</a></span></li><li><span><a href="#Importamos-el-CSV-y-lo-exploramos" data-toc-modified-id="Importamos-el-CSV-y-lo-exploramos-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Importamos el CSV y lo exploramos</a></span></li></ul></li><li><span><a href="#Programación-defensiva,-funciones-checkeo" data-toc-modified-id="Programación-defensiva,-funciones-checkeo-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Programación defensiva, funciones checkeo</a></span></li></ul></li><li><span><a href="#Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!" data-toc-modified-id="Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!</a></span></li><li><span><a href="#Misión-2" data-toc-modified-id="Misión-2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Misión 2</a></span></li><li><span><a href="#¡Datos-a-MongoDB!" data-toc-modified-id="¡Datos-a-MongoDB!-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>¡Datos a MongoDB!</a></span></li></ul></div>

## Exploramos los datos que tenemos

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("output/agosto_21.csv")
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

 ## Misión 1
 # <center> Meter los datos en una base de datos de SQL 🙂</center>
 ### ¡Datos a SQL!

![diagrama](images/diagrama.png)

#### Nos conectamos con SQL

In [3]:
import sqlalchemy as alch
from getpass import getpass

In [4]:
password = getpass("Introduce tu pass de sql: ")
dbName="spotify"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

Introduce tu pass de sql: ········
me conecté

#### Creamos el esquema desde MySQL Workbench y hacemos forward engineer
Recordamos que también podríamos crearlo con código, este es el código que nos genera el programa, intentemos entenderlo ¿ok?
```mysql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `spotify` DEFAULT CHARACTER SET utf8 ;
USE `spotify` ;

-- -----------------------------------------------------
-- Table `spotify`.`artistas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`artistas` (
  `idartista` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idartista`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`ironhackers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`ironhackers` (
  `idironhacker` INT NOT NULL AUTO_INCREMENT,
  `username` VARCHAR(45) NULL,
  PRIMARY KEY (`idironhacker`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`canciones`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`canciones` (
  `idcancion` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NULL,
  `letra` VARCHAR(45) NULL,
  `artistas_idartista` INT NOT NULL,
  `ironhackers_idironhacker` INT NOT NULL,
  PRIMARY KEY (`idcancion`),
  INDEX `fk_canciones_artistas_idx` (`artistas_idartista` ASC) VISIBLE,
  INDEX `fk_canciones_ironhackers1_idx` (`ironhackers_idironhacker` ASC) VISIBLE,
  CONSTRAINT `fk_canciones_artistas`
    FOREIGN KEY (`artistas_idartista`)
    REFERENCES `spotify`.`artistas` (`idartista`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_canciones_ironhackers1`
    FOREIGN KEY (`ironhackers_idironhacker`)
    REFERENCES `spotify`.`ironhackers` (`idironhacker`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

```

#### Importamos el CSV y lo exploramos

In [5]:
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

In [14]:
artistas = engine.execute("SELECT * FROM artistas WHERE nombre = 'Fuel Fandango'")

In [15]:
list(artistas)

[]

### Programación defensiva, funciones checkeo

In [29]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "ironhacker":
        query = list(engine.execute(f"SELECT username FROM ironhackers WHERE username = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "artista":
        query = list(engine.execute(f"SELECT nombre FROM artistas WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
    
    elif que == "cancion":
        query = list(engine.execute(f"SELECT nombre FROM canciones WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [33]:
def insertIronhacker(string):
    """
    Llama a la función check para comprobar si existe el ironhacker
    Inserta ironhacker si no existe
    """
    if check("ironhacker", string):
        return "el ironhacker existe"
    else:
        engine.execute(f"INSERT INTO ironhackers (username) VALUES ('{string}');")

In [34]:
insertIronhacker("otracosa")

In [35]:
def insertArtista(nombre):
    """
    Llama a la función check para comprobar si existe el artista
    Inserta artista si no existe
    """
    if check("artista", nombre):
        return "el artista existe"
    else:
        engine.execute(f"INSERT INTO artistas (nombre) VALUES ('{nombre}');")

In [38]:
insertArtista("ras")

'el artista existe'

In [48]:
list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='ras';"))[0][0]

1

In [52]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "artista":
        return list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='{string}';"))[0][0]
    elif que == "ironhacker":
        return list(engine.execute(f"SELECT idironhacker FROM ironhackers WHERE username ='{string}';"))[0][0]

In [53]:
dameId("ironhacker","soyungalgo")

1

In [54]:
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

In [56]:
def insertCancion(fila):
    """
    La función final 
    """
    if check("cancion", fila["nombre"]):
        return "la canción ya existe"
    else:
        if check("artista", fila["artista"]):
            artista_id = dameId("artista", fila["artista"])
        else:
            insertArtista(fila["artista"])
            artista_id = dameId("artista", fila["artista"])
        
        if check("ironhacker", fila["ironhacker"]):
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
        else:
            insertIronhacker(fila["ironhacker"])
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
            
        engine.execute(f"""
        INSERT INTO canciones (nombre, letra, artistas_idartista, ironhackers_idironhacker) VALUES
        ("{fila['nombre']}", "{fila['letra']}", "{artista_id}", "{ironhacker_id}");
        """)

## Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!

 ## Misión 2
 # <center> Meter los datos en una base de datos de MongoDB 🙃</center>
 ## ¡Datos a MongoDB!

Exportamos el dataframe a json para luego importarlo a la base de datos de mongo

Realizamos el siguiente comando en la terminal estando a la altura de la carpeta

In [ ]:
# mongoimport --db spotify --collection canciones --jsonArray cancionesyletras