 # Hyperparameter Tuning - Feature engineering

![nohayjupytersingif](https://media.giphy.com/media/jeDM590qtCP9C/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Feature-engineering" data-toc-modified-id="Feature-engineering-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Feature engineering</a></span></li><li><span><a href="#Peque√±a-exploraci√≥n-de-los-datos" data-toc-modified-id="Peque√±a-exploraci√≥n-de-los-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Peque√±a exploraci√≥n de los datos</a></span><ul class="toc-item"><li><span><a href="#Nos-fijamos-en-la-feature-&quot;Cabin&quot;" data-toc-modified-id="Nos-fijamos-en-la-feature-&quot;Cabin&quot;-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Nos fijamos en la feature "Cabin"</a></span></li><li><span><a href="#Analizamos-los-nombres-de-los-pasajeros" data-toc-modified-id="Analizamos-los-nombres-de-los-pasajeros-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Analizamos los nombres de los pasajeros</a></span></li></ul></li><li><span><a href="#Categorical-encoding" data-toc-modified-id="Categorical-encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Categorical encoding</a></span><ul class="toc-item"><li><span><a href="#One-Hot-Encoder-(get_dummies)" data-toc-modified-id="One-Hot-Encoder-(get_dummies)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>One Hot Encoder (get_dummies)</a></span></li><li><span><a href="#Label-Encoder" data-toc-modified-id="Label-Encoder-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Label Encoder</a></span></li><li><span><a href="#A-mano-con-un-diccionario-üí°" data-toc-modified-id="A-mano-con-un-diccionario-üí°-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>A mano con un diccionario üí°</a></span></li></ul></li><li><span><a href="#Feature-Scaling" data-toc-modified-id="Feature-Scaling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Feature Scaling</a></span><ul class="toc-item"><li><span><a href="#Estandarizaci√≥n" data-toc-modified-id="Estandarizaci√≥n-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Estandarizaci√≥n</a></span></li><li><span><a href="#Normalizaci√≥n-min-max" data-toc-modified-id="Normalizaci√≥n-min-max-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Normalizaci√≥n min-max</a></span></li><li><span><a href="#Cito-a-Andriy-Burkov:" data-toc-modified-id="Cito-a-Andriy-Burkov:-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Cito a Andriy Burkov:</a></span></li></ul></li><li><span><a href="#Repasamos-Train-Test-Split" data-toc-modified-id="Repasamos-Train-Test-Split-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Repasamos Train Test Split</a></span></li><li><span><a href="#Ajuste-de-hiperpar√°metros" data-toc-modified-id="Ajuste-de-hiperpar√°metros-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Ajuste de hiperpar√°metros</a></span><ul class="toc-item"><li><span><a href="#--Muestreo-aleatorio" data-toc-modified-id="--Muestreo-aleatorio-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>- Muestreo aleatorio</a></span></li><li><span><a href="#--Muestreo-de-cuadr√≠cula" data-toc-modified-id="--Muestreo-de-cuadr√≠cula-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>- Muestreo de cuadr√≠cula</a></span></li><li><span><a href="#--Muestreo-bayesiano" data-toc-modified-id="--Muestreo-bayesiano-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>- Muestreo bayesiano</a></span></li><li><span><a href="#GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!" data-toc-modified-id="GridSearchCV-de-sklearn,-¬°saludad-a-vuestro-nuevo-amigo!-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!</a></span></li><li><span><a href="#Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros" data-toc-modified-id="Entrenar√≠amos-el-modelo-con-los-mejores-par√°metros-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Entrenar√≠amos el modelo con los mejores par√°metros</a></span></li></ul></li><li><span><a href="#Salvar-/-Exprotar-el-modelo" data-toc-modified-id="Salvar-/-Exprotar-el-modelo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Salvar / Exprotar el modelo</a></span></li></ul></div>

##¬†Feature engineering

Es el proceso de utilizar el conocimiento del dominio para extraer caracter√≠sticas de los datos brutos.  
Estas caracter√≠sticas pueden utilizarse para mejorar el rendimiento de los algoritmos de aprendizaje autom√°tico.

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../datasets/titanic.csv")
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##¬†Peque√±a exploraci√≥n de los datos

In [5]:
data.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [7]:
data.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [9]:
# Vemos el porcentaje de nulos en cada columna
round(data.isnull().sum().sort_values(ascending=False)/len(data)*100,2)

Cabin       77.10
Age         19.87
Embarked     0.22
Fare         0.00
Ticket       0.00
Parch        0.00
SibSp        0.00
Sex          0.00
Name         0.00
Pclass       0.00
Survived     0.00
dtype: float64

### Nos fijamos en la feature "Cabin"

In [12]:
data.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

Hay muchos valores que faltan, pero debemos utilizar la variable del camarote porque puede ser un predictor importante. Como se puede ver en la siguiente imagen, la primera clase ten√≠a los camarotes en la cubierta A, B o C, una mezcla estaba en la D o la E y la tercera clase estaba principalmente en la f o la g. Podemos identificar la cubierta por la primera letra.

![laimagendelbarco](../images/barco.png)

In [14]:
# fill with cabin M the null values
data.Cabin = data.Cabin.fillna("M")

In [15]:
# Creamos una nueva columna "Cubierta" bas√°ndonos en la letra del camarote
data["Deck"] = data["Cabin"].apply(lambda x: x[0])

In [16]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,M,S,M
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,M,S,M
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,M,S,M

In [17]:
data.Deck.value_counts()

M    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Deck, dtype: int64

###¬†Analizamos los nombres de los pasajeros

El nombre podr√≠aa aportarnos informaci√≥n importante sobre el estatus socioecon√≥mico de un pasajero. Y en funci√≥n del estatus socioecon√≥mico han podido comprar un billete m√°s caro o m√°s barato, que indica un camarote situado en uno u otro lugar del barco. Podemos responder a la pregunta de si alguien est√° casado o no o si tiene un t√≠tulo formal y extraer esa informaci√≥n para generar una nueva variable.

In [18]:
def limpianame(x):
    x = x.split(",")
    x = x[1].split(".")
    return x[0].strip()

In [20]:
data["Title"] = data["Name"].apply(limpianame)

In [21]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck,Title
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,M,S,M,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,M,S,M,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,M,S,M,Mr

In [22]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [25]:
data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [30]:
data.Title.value_counts()

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Major             2
Mlle              2
Col               2
Jonkheer          1
the Countess      1
Don               1
Lady              1
Ms                1
Capt              1
Sir               1
Mme               1
Name: Title, dtype: int64

In [ ]:
#¬†Para no tener muchas categor√≠as con los t√≠tulos, vamos a quedarnos con los que tienen m√°s de 10

In [31]:
varios = (data.Title.value_counts() < 10)

In [32]:
varios

Mr              False
Miss            False
Mrs             False
Master          False
Dr               True
Rev              True
Major            True
Mlle             True
Col              True
Jonkheer         True
the Countess     True
Don              True
Lady             True
Ms               True
Capt             True
Sir              True
Mme              True
Name: Title, dtype: bool

In [33]:
# Hacemos un loc de la columna y si es true, porque es menos de 10, lo identificamos como miscel√°neo
data["Title"] = data["Title"].apply(lambda x: "Other" if varios.loc[x] == True else x)

In [34]:
#¬†Hemos agrupado los t√≠tulos con menos de 10 registros en una categor√≠a nueva
data.Title.value_counts()

Mr        517
Miss      182
Mrs       125
Master     40
Other      27
Name: Title, dtype: int64

In [37]:
# create a strange variable
data["ticket_len"] = data.Ticket.str.len()

In [39]:
# drop non useful columns
data = data.drop(["Name", "Cabin", "Ticket"], axis=1)

In [40]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,ticket_len
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,9
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,8
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,16
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,6
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,6

Solo nos queda la columna Age con nulos ... Vamos a rellenarlos, pero explorando los datos.... ¬øtienen la misma edad de media los hombres que las mujeres?

In [41]:
data.isnull().sum()

Survived        0
Pclass          0
Sex             0
Age           177
SibSp           0
Parch           0
Fare            0
Embarked        2
Deck            0
Title           0
ticket_len      0
dtype: int64

In [44]:
# Agrupamos por sexo y edad para ver las medianas de ambas agrupaciones
data.groupby(["Sex"]).Age.mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [49]:
# Agrupamos adem√°s por cubierta para tener en cuenta tambi√©n el estatus socioecon√≥mico
data.groupby(["Sex", "Pclass"]).size()

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
dtype: int64

Por ajustarnos un poco m√°s, vamos a rellenar los NaN de la edad con la mediana pero en funci√≥n de su sexo y tambi√©n en funci√≥n de la clase

In [50]:
data["Age"] = data.groupby(["Sex", "Pclass"])["Age"].apply(lambda x: x.fillna(x.median()))

In [51]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,ticket_len
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,9
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,8
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,16
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,6
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,6

In [53]:
data.Embarked = data.Embarked.fillna("S")

In [55]:
data.isna().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
Deck          0
Title         0
ticket_len    0
dtype: int64

## Categorical encoding

Transformar columnas categ√≥ricas en num√©ricas

### One Hot Encoder (get_dummies)

Used when:
 * no natural order
 * little number of categories

Ahora bien, como ya hemos comentado, dependiendo de los datos que tengamos, podr√≠amos encontrarnos con situaciones en las que, tras la codificaci√≥n de las etiquetas, podr√≠amos confundir a nuestro modelo haci√©ndole creer que una columna tiene datos con alg√∫n tipo de orden o jerarqu√≠a, cuando claramente no lo tenemos. Para evitar esto, "OneHotEncode" esa columna.
Lo que hace una codificaci√≥n en caliente es que toma una columna que tiene datos categ√≥ricos, que ha sido codificada con etiquetas, y luego divide la columna en m√∫ltiples columnas. Los n√∫meros son reemplazados por 1s y 0s, dependiendo de qu√© columna tiene qu√© valor.

In [56]:
# Vamos a hacer lo mismo con los t√≠tulos pero con OneHotEncoder, que nos crear√° diferentes columnas
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Other'], dtype=object)

In [66]:
data = pd.get_dummies(data, columns=["Title"], drop_first=True)

In [67]:
data

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,ticket_len,Title_Miss,Title_Mr,Title_Mrs,Title_Other
0,0,3,male,22.0,1,0,7.2500,S,M,9,0,1,0,0
1,1,1,female,38.0,1,0,71.2833,C,C,8,0,0,1,0
2,1,3,female,26.0,0,0,7.9250,S,M,16,1,0,0,0
3,1,1,female,35.0,1,0,53.1000,S,C,6,0,0,1,0
4,0,3,male,35.0,0,0,8.0500,S,M,6,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,M,6,0,0,0,1
887,1,1,female,19.0,0,0,30.0000,S,B,6,1,0,0,0
888,0,3,female,21.5,1,2,23.4500,S,M,10,1,0,0,0
889,1,1,male,26.0,0,0,30.0000,C,C,6,0,1,0,0
890,0,3,male,32.0,0,0,7.7500,Q,M,6,0,1,0,0

###¬†Label Encoder

Used when:
 * no natural order
 * big number of categories

In [68]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

This is not a good feature example, since only 3 labels

In [71]:
data.Embarked.head(10)

0    S
1    C
2    S
3    S
4    S
5    Q
6    S
7    S
8    S
9    C
Name: Embarked, dtype: object

In [74]:
le.fit_transform(data["Embarked"])[:10]

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0])

In [75]:
# Creamos una columna nueva que es "embarked_n" con la transformaci√≥n a num√©rica de las categor√≠as 
data["Embarked_n"] = le.fit_transform(data["Embarked"])

In [76]:
# Hacemos lo mismo con sex, a trav√©s de LabelEncoder
data["Sex_n"] = le.fit_transform(data["Sex"])

In [77]:
#Recordemos que labelencoder nos pone n√∫meros donde tenemos categor√≠as empezando por 0 e incrementando
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,ticket_len,Title_Miss,Title_Mr,Title_Mrs,Title_Other,Embarked_n,Sex_n
0,0,3,male,22.0,1,0,7.2500,S,M,9,0,1,0,0,2,1
1,1,1,female,38.0,1,0,71.2833,C,C,8,0,0,1,0,0,0
2,1,3,female,26.0,0,0,7.9250,S,M,16,1,0,0,0,2,0
3,1,1,female,35.0,1,0,53.1000,S,C,6,0,0,1,0,2,0
4,0,3,male,35.0,0,0,8.0500,S,M,6,0,1,0,0,2,1

In [78]:
data.drop(["Embarked", "Sex"], axis=1, inplace=True)

In [79]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,ticket_len,Title_Miss,Title_Mr,Title_Mrs,Title_Other,Embarked_n,Sex_n
0,0,3,22.0,1,0,7.2500,M,9,0,1,0,0,2,1
1,1,1,38.0,1,0,71.2833,C,8,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,M,16,1,0,0,0,2,0
3,1,1,35.0,1,0,53.1000,C,6,0,0,1,0,2,0
4,0,3,35.0,0,0,8.0500,M,6,0,1,0,0,2,1

###¬†A mano con un diccionario üí°
Podremos otorgarle un valor num√©rico a cada categor√≠a y decidimos su importancia

Util cu√°ndo:
 * orden natural de categor√≠as

In [81]:
data.Deck.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

En el Titanic las letras primeras eran de ricos

In [82]:
dic_para_hot = {
    "A": 1,
    "B": 2,
    "C": 3,
    "D": 4,
    "E": 5,
    "F": 6,
    "G": 7,
    "M": 8,
    "T": 9
}

In [83]:
# Con un map reemplazamos todas las strings de la columna Deck por el valor asignado en el diccionario
data.Deck = data.Deck.map(dic_para_hot)

In [84]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Deck,ticket_len,Title_Miss,Title_Mr,Title_Mrs,Title_Other,Embarked_n,Sex_n
0,0,3,22.0,1,0,7.2500,8,9,0,1,0,0,2,1
1,1,1,38.0,1,0,71.2833,3,8,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,8,16,1,0,0,0,2,0
3,1,1,35.0,1,0,53.1000,3,6,0,0,1,0,2,0
4,0,3,35.0,0,0,8.0500,8,6,0,1,0,0,2,1

##¬†Feature Scaling

Algunos algoritmos, especialmente los que se basan en c√°lculos de distancia, dar√°n m√°s peso a las caracter√≠sticas que muestren grandes cambios de valor, interpretando estas caracter√≠sticas como artificialmente m√°s importantes. Para estos algoritmos, es importante que escalemos nuestros rasgos, o que pongamos en la misma escala rasgos con escalas naturalmente diferentes, para que los rasgos sean utilizados por el algoritmo sin una sobreponderaci√≥n artificial, y permita comparar dos rasgos con escalas diferentes.      
Hay dos tipos diferentes de escalamiento de caracter√≠sticas que vamos a explorar:

### Estandarizaci√≥n   
En la estandarizaci√≥n, imponemos varias propiedades estad√≠sticas a la variable: el valor medio se fija en 0, y la desviaci√≥n est√°ndar se fija en 1. Esto se consigue restando la media de cada valor de la caracter√≠stica y dividiendo por la desviaci√≥n est√°ndar. Esto tambi√©n se llama a veces "normalizaci√≥n de la puntuaci√≥n z". 

Entonces, ¬øqu√© significa esto, en la pr√°ctica, sobre los datos estandarizados? Como podemos ver a continuaci√≥n, ahora tenemos las distribuciones de ambas variables centradas alrededor de la media cero, con una desviaci√≥n est√°ndar de 1. Como estamos imponiendo esta desviaci√≥n est√°ndar, la normalizaci√≥n reduce los efectos de los valores at√≠picos en la caracter√≠stica. Adem√°s, permite comparar dos caracter√≠sticas con escalas o unidades diferentes. Las diferentes escalas de las caracter√≠sticas se reflejar√≠an estad√≠sticamente en diferencias tanto en la media como en la desviaci√≥n est√°ndar. La estandarizaci√≥n de estos dos n√∫meros entre caracter√≠sticas elimina la influencia de estas diferencias de escala.

La estandarizaci√≥n es especialmente importante en situaciones en las que utilizamos algoritmos que asumen que las caracter√≠sticas de nuestros datos se distribuyen en una 'curva de campana' o una distribuci√≥n gaussiana, como la regresi√≥n lineal y log√≠stica.

In [ ]:
"""
En este dataset no nos enfrentamos a un problema de regresi√≥n si no de clasificaci√≥n,
pero vamos a hacer un ejemplo de estandarizaci√≥n en una columna para ver el c√≥digo
"""
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
data["Fare"] = scaler.fit_transform(data["Fare"].values.reshape(-1,1))

In [ ]:
data.head()

### Normalizaci√≥n min-max

En la otra forma de escalado de caracter√≠sticas, llamada normalizaci√≥n, la caracter√≠stica se reescala a un rango entre 0 y 1, sin ning√∫n cambio en su distribuci√≥n original dentro de ese rango. Matem√°ticamente, esto se consigue restando el valor m√≠nimo de la caracter√≠stica a cada valor de la misma, y dividiendo por la diferencia entre el valor mayor y el valor m√≠nimo. 

Dado que calculamos el valor normalizado utilizando los valores m√°ximo y m√≠nimo de la caracter√≠stica, esta t√©cnica se denomina a veces "normalizaci√≥n min-max".      
La normalizaci√≥n es m√°s √∫til en los casos en que sus datos tienen pocos valores at√≠picos pero rangos muy variables, usted no sabe c√≥mo se distribuyen sus datos, o sabe que no se distribuyen en una curva de campana (gaussiana). Generalmente se aplica con algoritmos que no hacen suposiciones sobre las distribuciones de las caracter√≠sticas.

In [85]:
from sklearn.preprocessing import MinMaxScaler

In [86]:
min_max = MinMaxScaler()

In [90]:
data.Age.values.reshape(-1, 1).shape

(891, 1)

In [ ]:
data["Age"] = min_max.fit_transform(data["Age"].values.reshape(-1, 1))

In [ ]:
data.head()

In [ ]:
data.Age.min()

In [ ]:
data.Age.max()

###¬†Cito a Andriy Burkov:
Te estar√°s preguntando cu√°ndo se debe utilizar la normalizaci√≥n y cu√°ndo la estandarizaci√≥n. No hay una respuesta definitiva a esta pregunta. Por lo general, si su conjunto de datos no es demasiado grande y tiene tiempo, puede probar ambos y ver cu√°l de ellos se adapta mejor a su tarea.
Si no tiene tiempo para realizar varios experimentos, como regla general:

- Los algoritmos de aprendizaje no supervisado, en la pr√°ctica, se benefician m√°s de la estandarizaci√≥n que de la normalizaci√≥n.      
- La estandarizaci√≥n tambi√©n es preferible para una caracter√≠stica si los valores que √©sta toma se distribuyen cerca de una distribuci√≥n normal (la llamada curva de campana).     
- Una vez m√°s, la normalizaci√≥n es preferible para una caracter√≠stica si a veces puede tener valores extremadamente altos o bajos (valores at√≠picos); esto se debe a que la normalizaci√≥n "exprimir√°" los valores normales en un rango muy peque√±o.       
- En todos los dem√°s casos, es preferible la normalizaci√≥n min-max.      

El reescalado de caracter√≠sticas suele ser beneficioso para la mayor√≠a de los algoritmos de aprendizaje. Sin embargo, las implementaciones modernas de los algoritmos de aprendizaje, que se pueden encontrar en bibliotecas populares, son robustas a las caracter√≠sticas que se encuentran en diferentes rangos.

**NOTA**: a los modelos de tipo √°rbol (DecisionTree, RandomForest, GradientBoosting) les da igual la normalizaci√≥n. No les importa la magnitud exacta de una variable, si no la ordenaci√≥n de los valores (s√≥lo hacen preguntas < o > qu√©)

##¬†Repasamos Train Test Split

In [ ]:
# Vamos a preparar los datos (X, y) antes de entrenar el modelo y ajustar los hiperpar√°metros

In [ ]:
# Lista de columnas que voy a usar en la X
columnas_x = [a for a in list(data.columns) if a != "Survived"]
columnas_x

In [ ]:
# Me guardo la variable X con todos los datos 
X = data[columnas_x]

In [ ]:
# Variable target solo la columna que voy a predecir
y = data.Survived

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Asigno las variables train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state = None)

## Ajuste de hiperpar√°metros

¬øQu√© es el ajuste de hiperpar√°metros?
Los hiperpar√°metros son par√°metros ajustables que permiten controlar el proceso de entrenamiento de un modelo. Por ejemplo, con redes neuronales, puede decidir el n√∫mero de capas ocultas y el n√∫mero de nodos de cada capa. El rendimiento de un modelo depende en gran medida de los hiperpar√°metros.
El ajuste de hiperpar√°metros, tambi√©n denominado optimizaci√≥n de hiperpar√°metros es el proceso de encontrar la configuraci√≥n de hiperpar√°metros que produzca el mejor rendimiento. Normalmente, el proceso es manual y costoso desde el punto de vista computacional.

Hay diferentes t√©cnicas para elegir este ajuste de hiperpar√°metros:     
    
### - Muestreo aleatorio    
El muestreo aleatorio admite hiperpar√°metros discretos y continuos. Admite la terminaci√≥n anticipada de las series de bajo rendimiento. Algunos usuarios realizan una b√∫squeda inicial con muestreo aleatorio y luego restringen el espacio de b√∫squeda para mejorar los resultados.
En el muestreo aleatorio, los valores de hiperpar√°metro se seleccionan aleatoriamente del espacio de b√∫squeda definido.

### - Muestreo de cuadr√≠cula
El muestreo de cuadr√≠cula admite hiperpar√°metros discretos. Use el muestreo de cuadr√≠cula si su presupuesto le permite buscar en el espacio de b√∫squeda de manera exhaustiva. Admite la terminaci√≥n anticipada de las series de bajo rendimiento.

### - Muestreo bayesiano   
El muestreo bayesiano se basa en el algoritmo de optimizaci√≥n bayesiano. Escoge las muestras en funci√≥n de c√≥mo lo hicieron las anteriores, para que las nuevas muestras mejoren la m√©trica principal.
 Para obtener los mejores resultados, se recomienda que el n√∫mero m√°ximo de series sea mayor o igual que 20 veces el n√∫mero de hiperpar√°metros que se est√° optimizando.
El n√∫mero de series simult√°neas afecta a la eficacia del proceso de ajuste. Un menor n√∫mero de series simult√°neas puede provocar una mejor convergencia de muestreo, dado que el menor grado de paralelismo aumenta el n√∫mero de series que se benefician de las series completadas previamente.

Vamos a ver el ajuste de hiperpar√°metros en cuadr√≠cula con GridSearchCV pero os dejo que investigu√©is el muestreo bayesiano con [HyperOpt](https://towardsdatascience.com/hyperopt-hyperparameter-tuning-based-on-bayesian-optimization-7fa32dffaf29)

###¬†GridSearchCV de sklearn, ¬°saludad a vuestro nuevo amigo!
Y leed la [documentaci√≥n](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)

In [ ]:
#Hiperpar√°metros tuneables de RandomForest
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:
#Reducimos para hacer la prueba con diferentes n_estimators
params = {
     'n_estimators': [400, 600,800]
}

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Guaardo en una variable raandom forest
rfc = RandomForestClassifier()

In [ ]:
help(rfc)

In [ ]:
# Guardo el grid search con el algoritmo, los par√°metros y verbose paraa que muestre info del proceso
grid = GridSearchCV(rfc, params, verbose=1)
# entreno el grid con los datos de train
grid.fit(X_train,y_train)

In [ ]:
# Imprimo los mejores par√°metros que me ha dado el modelo
print(grid.best_params_)

###¬†Entrenar√≠amos el modelo con los mejores par√°metros

Si en GridSearchCV() se indica refit=True, tras identificar los mejores hiperpar√°metros, se reentrena el modelo con ellos y se almacena en .best_estimator_.

In [ ]:
#¬†Entrenon
rfc_params = RandomForestClassifier(n_estimators =  800)

In [ ]:
rfc_params.fit(X_train,y_train)

In [ ]:
y_pred = rfc_params.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [ ]:
print ("Accuracy", round(accuracy_score(y_test,y_pred),3))
print("Precission",round(precision_score(y_test,y_pred, average = "weighted"),3))
print("Recall", round(recall_score(y_test,y_pred, average = "weighted"),3))
print("F1_score", round(f1_score(y_test,y_pred,average= "weighted"),3))

##¬†Salvar / Exprotar el modelo
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [ ]:
import pickle

In [ ]:
#¬†save the model to disk
pickle.dump(rfc_params, open("mi_mejor_modelo", 'wb'))

In [ ]:
# load the model from disk
loaded_model = pickle.load(open("mi_mejor_modelo", 'rb'))

In [ ]:
loaded_model.predict(X_test)

In [ ]:
rfc_params.predict(X_test)