<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploramos-los-datos-que-tenemos" data-toc-modified-id="Exploramos-los-datos-que-tenemos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exploramos los datos que tenemos</a></span></li><li><span><a href="#Misión-1" data-toc-modified-id="Misión-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Misión 1</a></span><ul class="toc-item"><li><span><a href="#¡Datos-a-SQL!" data-toc-modified-id="¡Datos-a-SQL!-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¡Datos a SQL!</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-con-SQL" data-toc-modified-id="Nos-conectamos-con-SQL-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Nos conectamos con SQL</a></span></li><li><span><a href="#Creamos-el-esquema-desde-MySQL-Workbench-y-hacemos-forward-engineer" data-toc-modified-id="Creamos-el-esquema-desde-MySQL-Workbench-y-hacemos-forward-engineer-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Creamos el esquema desde MySQL Workbench y hacemos forward engineer</a></span></li><li><span><a href="#Importamos-el-CSV-y-lo-exploramos" data-toc-modified-id="Importamos-el-CSV-y-lo-exploramos-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Importamos el CSV y lo exploramos</a></span></li></ul></li><li><span><a href="#Programación-defensiva,-funciones-checkeo" data-toc-modified-id="Programación-defensiva,-funciones-checkeo-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Programación defensiva, funciones checkeo</a></span></li></ul></li><li><span><a href="#Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!" data-toc-modified-id="Antes-de-seguir,-tenemos-que...-¡¡TRATAR-LOS-DATOS!!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!</a></span><ul class="toc-item"><li><span><a href="#Cambiamos-las-comillas-para-no-tener-problemas-con-MySQL-porque-todo-va-con-strings" data-toc-modified-id="Cambiamos-las-comillas-para-no-tener-problemas-con-MySQL-porque-todo-va-con-strings-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Cambiamos las comillas para no tener problemas con MySQL porque todo va con strings</a></span></li><li><span><a href="#Vamos-a-limpiarlo-con-Regex" data-toc-modified-id="Vamos-a-limpiarlo-con-Regex-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Vamos a limpiarlo con Regex</a></span></li></ul></li><li><span><a href="#Ana-nos-jodió" data-toc-modified-id="Ana-nos-jodió-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ana nos jodió</a></span></li><li><span><a href="#Misión-2" data-toc-modified-id="Misión-2-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Misión 2</a></span></li><li><span><a href="#¡Datos-a-MongoDB!" data-toc-modified-id="¡Datos-a-MongoDB!-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>¡Datos a MongoDB!</a></span></li></ul></div>

## Exploramos los datos que tenemos

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("output/agosto_21.csv")
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

 ## Misión 1
 # <center> Meter los datos en una base de datos de SQL 🙂</center>
 ### ¡Datos a SQL!

![diagrama](images/diagrama.png)

#### Nos conectamos con SQL

In [3]:
import sqlalchemy as alch
from getpass import getpass

In [4]:
password = getpass("Introduce tu pass de sql: ")
dbName="spotify"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

Introduce tu pass de sql: ········
me conecté

#### Creamos el esquema desde MySQL Workbench y hacemos forward engineer
Recordamos que también podríamos crearlo con código, este es el código que nos genera el programa, intentemos entenderlo ¿ok?
```mysql
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema spotify
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `spotify` DEFAULT CHARACTER SET utf8 ;
USE `spotify` ;

-- -----------------------------------------------------
-- Table `spotify`.`artistas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`artistas` (
  `idartista` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idartista`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`ironhackers`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`ironhackers` (
  `idironhacker` INT NOT NULL AUTO_INCREMENT,
  `username` VARCHAR(45) NULL,
  PRIMARY KEY (`idironhacker`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `spotify`.`canciones`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `spotify`.`canciones` (
  `idcancion` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NULL,
  `letra` VARCHAR(45) NULL,
  `artistas_idartista` INT NOT NULL,
  `ironhackers_idironhacker` INT NOT NULL,
  PRIMARY KEY (`idcancion`),
  INDEX `fk_canciones_artistas_idx` (`artistas_idartista` ASC) VISIBLE,
  INDEX `fk_canciones_ironhackers1_idx` (`ironhackers_idironhacker` ASC) VISIBLE,
  CONSTRAINT `fk_canciones_artistas`
    FOREIGN KEY (`artistas_idartista`)
    REFERENCES `spotify`.`artistas` (`idartista`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_canciones_ironhackers1`
    FOREIGN KEY (`ironhackers_idironhacker`)
    REFERENCES `spotify`.`ironhackers` (`idironhacker`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

```

#### Importamos el CSV y lo exploramos

In [5]:
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

In [14]:
artistas = engine.execute("SELECT * FROM artistas WHERE nombre = 'Fuel Fandango'")

In [15]:
list(artistas)

[]

### Programación defensiva, funciones checkeo

In [29]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "ironhacker":
        query = list(engine.execute(f"SELECT username FROM ironhackers WHERE username = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "artista":
        query = list(engine.execute(f"SELECT nombre FROM artistas WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
    
    elif que == "cancion":
        query = list(engine.execute(f"SELECT nombre FROM canciones WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [33]:
def insertIronhacker(string):
    """
    Llama a la función check para comprobar si existe el ironhacker
    Inserta ironhacker si no existe
    """
    if check("ironhacker", string):
        return "el ironhacker existe"
    else:
        engine.execute(f"INSERT INTO ironhackers (username) VALUES ('{string}');")

In [34]:
insertIronhacker("otracosa")

In [35]:
def insertArtista(nombre):
    """
    Llama a la función check para comprobar si existe el artista
    Inserta artista si no existe
    """
    if check("artista", nombre):
        return "el artista existe"
    else:
        engine.execute(f"INSERT INTO artistas (nombre) VALUES ('{nombre}');")

In [38]:
insertArtista("ras")

'el artista existe'

In [48]:
list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='ras';"))[0][0]

1

In [52]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "artista":
        return list(engine.execute(f"SELECT idartista FROM artistas WHERE nombre ='{string}';"))[0][0]
    elif que == "ironhacker":
        return list(engine.execute(f"SELECT idironhacker FROM ironhackers WHERE username ='{string}';"))[0][0]

In [53]:
dameId("ironhacker","soyungalgo")

1

In [54]:
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"[Verso 1: Seth Condrey]\nVagando por el mundo,..."
1,trashi,mañaneo,soyungalgo,"[Verso: Trashi]\nBebé\nSolo mirame a la cara, ..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,[Estribillo: Swan Fyahbwoy]\nSolo dime si esto...
3,Shinova,El Álbum,soyungalgo,"[Letra de ""El Álbum""]\n\n[Verso 1]\nTu rostro ..."
4,Ojete Calor,Viejoven,señoritajones,"[Letra de ""Viejoven""]\n\nNo sabría si llevarte..."

In [57]:
def insertCancion(fila):
    """
    La función final 
    """
    if check("cancion", fila["nombre"]):
        return "la canción ya existe"
    else:
        if check("artista", fila["artista"]):
            artista_id = dameId("artista", fila["artista"])
        else:
            insertArtista(fila["artista"])
            artista_id = dameId("artista", fila["artista"])
        
        if check("ironhacker", fila["ironhacker"]):
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
        else:
            insertIronhacker(fila["ironhacker"])
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
            
        engine.execute(f"""
        INSERT INTO canciones (nombre, letra, artistas_idartista, ironhackers_idironhacker) VALUES
        ("{fila['nombre']}", "{fila['letra']}", "{artista_id}", "{ironhacker_id}");
        """)

## Antes de seguir, tenemos que... ¡¡TRATAR LOS DATOS!!

### Cambiamos las comillas para no tener problemas con MySQL porque todo va con strings

In [61]:
data.sample()

,artista,nombre,ironhacker,letra
24,Bob Marley & The Wailers,Three Little Birds,luciammu,"[Hook]\n""Don't worry about a thing\n'Cause eve..."

In [60]:
def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [62]:
data["nombre"] = data.nombre.apply(sustituye)
data["artista"] = data.artista.apply(sustituye)
data["letra"] = data.letra.apply(sustituye)

In [63]:
data.sample()

,artista,nombre,ironhacker,letra
37,Dire Straits,Sultans Of Swing,Julián,[Verse 1]\nYou get a shiver in the dark\nIt`s ...

### Vamos a limpiarlo con Regex
Vemos que se cumple un patrón, y es que son frases o palabras entre corchetes

In [68]:
print(data.loc[0]["letra"])

[Verso 1: Seth Condrey]
Vagando por el mundo, buscando algo más
Que pueda darle vida a toda esta oscuridad
Vi a la distancia una gran señal
Despierta mi esperanza, ya no vuelvo atrás
Ya no vuelvo atrás

[Coro: Seth Condrey]
A mi puerta Él llamó
Su gracia me levantó
No me puedo escapar
Rendido estoy
De vuelta a casa voy

[Verso 2: Seth Condrey]
Mi fuerza en la prueba, la fuente de mi fe
O cada día nueva su misericordia es
Todo es perdonado, lo viejo muerto está
Él me ha salvado, Su amor me llevará
Hasta el final

[Coro: Seth Condrey]
A mi puerta Él llamó
Su gracia me levantó
No me puedo escapar
Rendido estoy
De vuelta a casa voy
[Puente: Andy Alemany]
En la casa de mi Padre, quiero siempre estar
Sentado en Su mesa libre de toda maldad
Me pude haber perdido pero Él me rescató
Llevándome de vuelta a Su gran amor, a Su gran amor
A Su gran amor

[Coro: Seth Condrey]
A mi puerta Él llamó
Su gracia me levantó
No me puedo escapar
Rendido estoy
De vuelta voy
A mi puerta Él llamó
Su gracia me levantó
No me puedo escapar
Rendido estoy
De vuelta a casa, vuelta a casa voy

In [67]:
# Creamos un patrón para quitar las frase
ejemplo = "[hacemos] un ejemplo"

In [70]:
import re

In [71]:
pat = "\[.+\]"
sin_corchetes = re.sub(pat,"",ejemplo)
sin_corchetes

' un ejemplo'

In [72]:
def quitar_corchetes(string):
    pat = "\[.+\]"
    sin_corchetes = re.sub(pat,"",string)
    return sin_corchetes

In [74]:
data["letra"] = data.letra.apply(quitar_corchetes)

In [75]:
data.head()

,artista,nombre,ironhacker,letra
0,Mama Jarana,Vuelta a Casa,soyungalgo,"\nVagando por el mundo, buscando algo más\nQue..."
1,trashi,mañaneo,soyungalgo,"\nBebé\nSolo mirame a la cara, si me mientes\n..."
2,ELYELLA,Todo Lo Que Importa,soyungalgo,"\nSolo dime si estoy, hoy, otro día igual\nO s..."
3,Shinova,El Álbum,soyungalgo,\n\n\nTu rostro lo tengo fijado\nEn el lado de...
4,Ojete Calor,Viejoven,señoritajones,\n\nNo sabría si llevarte a un botellón\nNo sa...

In [77]:
data["ironhacker"].unique()

array(['soyungalgo', 'señoritajones', '1183037273', 'sgpnovoa',
       'rawlins7', 'Diego Díaz', 'Alex', 'luciammu', 'Jorge', 'Julián'],
      dtype=object)

## Ana nos jodió
```MySQL
UPDATE ironhackers SET username = 'Ana' WHERE idironhacker = 4;
```

In [80]:
data.sample(1)

,artista,nombre,ironhacker,letra
20,Will Butler,Anna,señoritajones,\nDon’t know where you’re laying\nJust know it...

In [82]:
data["ironhacker"] = data.ironhacker.replace({"1183037273": "Ana"})

In [76]:
for index, fila in data.iterrows():
    insertCancion(fila)

 ## Misión 2
 # <center> Meter los datos en una base de datos de MongoDB 🙃</center>
 ## ¡Datos a MongoDB!

Exportamos el dataframe a json para luego importarlo a la base de datos de mongo

In [86]:
data.to_json("output/cancionesyletras", orient="records")

Realizamos el siguiente comando en la terminal estando a la altura de la carpeta

In [ ]:
# mongoimport --db spotify --collection canciones --jsonArray cancionesyletras