# MongoDB

![memesmongo](../images/mongo.png)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#¬øQu√©-es-MongoDB?" data-toc-modified-id="¬øQu√©-es-MongoDB?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>¬øQu√© es MongoDB?</a></span></li><li><span><a href="#¬øQu√©-es-la-base-de-datos-MongoDB?" data-toc-modified-id="¬øQu√©-es-la-base-de-datos-MongoDB?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>¬øQu√© es la base de datos MongoDB?</a></span><ul class="toc-item"><li><span><a href="#Peque√±a-explicaci√≥n-animada-ü§î" data-toc-modified-id="Peque√±a-explicaci√≥n-animada-ü§î-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Peque√±a explicaci√≥n animada ü§î</a></span></li></ul></li><li><span><a href="#Instalaciones" data-toc-modified-id="Instalaciones-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Instalaciones</a></span></li><li><span><a href="#Creaci√≥n-de-bases-de-datos" data-toc-modified-id="Creaci√≥n-de-bases-de-datos-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creaci√≥n de bases de datos</a></span></li><li><span><a href="#Conexi√≥n-con-Python" data-toc-modified-id="Conexi√≥n-con-Python-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Conexi√≥n con Python</a></span><ul class="toc-item"><li><span><a href="#Nos-conectamos-al-servidor" data-toc-modified-id="Nos-conectamos-al-servidor-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nos conectamos al servidor</a></span></li><li><span><a href="#Nos-conectamos-con-la-base-de-datos" data-toc-modified-id="Nos-conectamos-con-la-base-de-datos-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Nos conectamos con la base de datos</a></span></li></ul></li><li><span><a href="#Operaciones-b√°sicas-de-gesti√≥n-de-bases-de-datos" data-toc-modified-id="Operaciones-b√°sicas-de-gesti√≥n-de-bases-de-datos-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Operaciones b√°sicas de gesti√≥n de bases de datos</a></span><ul class="toc-item"><li><span><a href="#Creamos-y-borramos-colecciones-desde-python" data-toc-modified-id="Creamos-y-borramos-colecciones-desde-python-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creamos y borramos colecciones desde python</a></span></li><li><span><a href="#Nos-conectamos-a-una-colecci√≥n-en-concreto-para-hacer-las-consultas" data-toc-modified-id="Nos-conectamos-a-una-colecci√≥n-en-concreto-para-hacer-las-consultas-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Nos conectamos a una colecci√≥n en concreto para hacer las consultas</a></span></li></ul></li><li><span><a href="#Consultas-en-Mongo" data-toc-modified-id="Consultas-en-Mongo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Consultas en Mongo</a></span><ul class="toc-item"><li><span><a href="#M√©todo-find_one" data-toc-modified-id="M√©todo-find_one-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>M√©todo <code>find_one</code></a></span></li><li><span><a href="#M√©todo-find" data-toc-modified-id="M√©todo-find-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>M√©todo <code>find</code></a></span></li></ul></li><li><span><a href="#Proyecci√≥n" data-toc-modified-id="Proyecci√≥n-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Proyecci√≥n</a></span></li><li><span><a href="#Otros-m√©todos" data-toc-modified-id="Otros-m√©todos-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Otros m√©todos</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Operadores-de-consulta-t√≠picos" data-toc-modified-id="Operadores-de-consulta-t√≠picos-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Operadores de consulta t√≠picos</a></span><ul class="toc-item"><li><span><a href="#Mayor-que-/-Menor-que" data-toc-modified-id="Mayor-que-/-Menor-que-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Mayor que / Menor que</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-10.6"><span class="toc-item-num">10.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-10.7"><span class="toc-item-num">10.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-10.8"><span class="toc-item-num">10.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Insert" data-toc-modified-id="Insert-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Insert</a></span></li><li><span><a href="#Info-extra" data-toc-modified-id="Info-extra-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Info extra</a></span></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Resumen</a></span></li><li><span><a href="#Further-Materials" data-toc-modified-id="Further-Materials-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Further Materials</a></span></li></ul></div>

##¬†¬øQu√© es MongoDB?    
   
MongoDB (del ingl√©s humongous, "enorme") es un sistema de base de datos NoSQL, orientado a documentos y de c√≥digo abierto.
En lugar de guardar los datos en tablas, tal y como se hace en las bases de datos relacionales, MongoDB guarda estructuras de datos BSON (una especificaci√≥n similar a JSON) con un esquema din√°mico, haciendo que la integraci√≥n de los datos en ciertas aplicaciones sea m√°s f√°cil y r√°pida.
MongoDB es una base de datos adecuada para su uso en producci√≥n y con m√∫ltiples funcionalidades. Esta base de datos se utiliza mucho en la industria, contando con implantaciones en empresas como MTV Network,  Craiglist, Foursquare.       
El c√≥digo fuente est√° disponible para los sistemas operativos --> Windows, GNU/Linux, OS X y Solaris.

## ¬øQu√© es la base de datos MongoDB?

Una base de datos, es decir, una forma estructurada de almacenar y acceder a los datos, m√°s espec√≠ficamente, es una base de datos NoSQL.
NoSQL es un t√©rmino muy gen√©rico que se utiliza para describir cualquier almac√©n de datos que no utiliza el enfoque heredado de tablas de datos relacionadas.
Esto significa que est√° almacenando sus datos de una manera organizada, pero no en filas y columnas Un ejemplo de bases de datos NoSQL puede ser cualquier cosa, desde un cat√°logo de tarjetas de biblioteca, a un almac√©n de datos m√°s sofisticado como MongoDB.
Dado que el rango de lo que significa NoSQL es tan amplio, debemos acotar m√°s nuestra definici√≥n.
MongoDB es una base de datos de documentos NoSQL.
Esto significa que los datos en MongoDB se almacenan como documentos, estos documentos se almacenan a su vez en lo que llamamos colecciones de documentos, Por eso MongoDB se clasifica como una base de datos de documentos NoSQL.

En conclusi√≥n, la base de datos MongoDB es una base de datos de documentos NoSQL.

###¬†Peque√±a explicaci√≥n animada ü§î
Veamos juntas [este](https://www.youtube.com/watch?v=DM4gD6Z5zFU) v√≠deo

##¬†Instalaciones
Encontrar√°s todo lo referente a las instalaciones [AQU√ç](https://github.com/Ironhack-Data-Madrid-Agosto-2021/classroom-materials/blob/main/week_04/00-mongoDB-installation.ipynb)

## Creaci√≥n de bases de datos
Hemos visto que a trav√©s de MongoDB compass pod√≠amos crear una base de datos, una colecci√≥n e importar los datos en formato JSON de manera sencilla. 
Tambi√©n podemos hacerlo mediante la interfaz de comandos o CLI de mongo.

In [ ]:
#$ mongoimport --db nombredelabasededatos --collection nombredelacolecci√≥n --file archivo.json

Nos ubicamos en la terminal en la carpeta donde hayamos descargado el json de "companies". El comando lo que hace es importar a la base de daatos de ironhack, dentro de la colecci√≥n companies, ese json. Si introducimos un nombre de base de datos que no existe o de colecci√≥n que no existe, MongoDB lo crea por nosotras autom√°ticamente.

## Conexi√≥n con Python

Lo primero que vamos a necesitar para conectar python con el servidor de bases de datos de MongoDB es instalar la siguiente librer√≠a
```python
#!pip install pymongo
```
Y recuerda: Tienes que [leer la documentaci√≥n](https://pymongo.readthedocs.io/en/stable/)

In [1]:
from pymongo import MongoClient

###¬†Nos conectamos al servidor
El servidor de Mongo tiene que estar activo y normalmente est√° corriendo en el puerto 27017, siempre se conecta a este puerto por defecto

In [2]:
# Con el comando MongoClient establecemos conexi√≥n con el servidor
client = MongoClient("localhost:27017")

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
# Mostrar los nombres de las bases de datos existentes

In [4]:
client.list_database_names()

['HP', 'admin', 'config', 'ironhack', 'local', 'spotify']

###¬†Nos conectamos con la base de datos

In [5]:
# Para crear una conexi√≥n con la base de datos en la que vayamos a trabajar
db = client.get_database("ironhack")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack')

In [6]:
db.list_collection_names()

['restaurants']

## Operaciones b√°sicas de gesti√≥n de bases de datos

In [7]:
db.list_collection_names()

['restaurants']

### Creamos y borramos colecciones desde python

In [ ]:
# Podemos crear colecciones como hemos visto antes con la GUI de MongoDB (Mongo Compass) o desde aqu√≠ mismo

In [8]:
#¬†Creamos la colecci√≥n
db.create_collection("PRUEBA")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'PRUEBA')

In [9]:
# Listamos las colecciones y vemos si se ha creado la colecci√≥n
db.list_collection_names()

['PRUEBA', 'restaurants']

In [10]:
#¬†Borramos la colecci√≥n que acabamos de crear
db.drop_collection("PRUEBA")

{'nIndexesWas': 1, 'ns': 'ironhack.PRUEBA', 'ok': 1.0}

In [11]:
# Comprobamos de nuevo
db.list_collection_names()

['restaurants']

### Nos conectamos a una colecci√≥n en concreto para hacer las consultas

In [ ]:
# Elegimos la colecci√≥n con la que vamos a trabajar

In [12]:
collection = db.get_collection("restaurants")
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'restaurants')

## Consultas en Mongo

Para explorar c√≥mo son los documentos en mi colecci√≥n, qu√© forma y qu√© campos tienen, puedo irme a Mongo Compass y explorar la colecci√≥n, o puedo elegir un documento sin filtrar.

![undocumento](../images/compass1.png)

In [ ]:
##¬†Hag√°moslo en Python

### M√©todo `find_one` 
`collection.find_one(filter)`

In [13]:
# Si no pongo ning√∫n filtro, me dar√° el primer documento
collection.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b27'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
 'address': '376 Rayleigh Road',
 'address line 2': 'Essex',
 'name': '@ Thai',
 'outcode': 'SS9',
 'postcode': '5PT',
 'rating': 5.5,
 'type_of_food': 'Thai'}

In [14]:
# Ojo, porque no todos los documentos tienen por qu√© tener las mismas keys, Mongo es flexible para esto
collection.find_one().keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

In [15]:
type(collection.find_one())

dict

# Queremos buscar los restaurantes tailandeses
Este ser√≠a el filtro üëáüèª
```python
{"type_of_food": "Thai"}
```

SELECT *
WHERE "type_of_food" = "Thai"

In [18]:
collection.find_one({"type_of_food": "Thai"})

{'_id': ObjectId('55f14312c7447c3da7051b27'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
 'address': '376 Rayleigh Road',
 'address line 2': 'Essex',
 'name': '@ Thai',
 'outcode': 'SS9',
 'postcode': '5PT',
 'rating': 5.5,
 'type_of_food': 'Thai'}

### M√©todo `find` 
`collection.find(filter)`

In [37]:
documentos = collection.find()

In [20]:
documentos

In [21]:
type(documentos)

pymongo.cursor.Cursor

El m√©todo de colecci√≥n `pymongo` devuelve un Cursor:
 * un Cursor es un iterador
 * un Cursor tiene el m√©todo `__next__` (la funci√≥n `next` devuelve el siguiente elemento en el flujo)
 * `pymongo` no trae informaci√≥n a la memoria hasta que se necesita
 * un Cursor no tiene `len`.

In [24]:
documentos.next()

{'_id': ObjectId('55f14312c7447c3da7051b28'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
 'address': '30 Greyhound Road Hammersmith',
 'address line 2': 'London',
 'name': '@ Thai Restaurant',
 'outcode': 'W6',
 'postcode': '8NX',
 'rating': 4.5,
 'type_of_food': 'Thai'}

In [25]:
len(documentos)

TypeError: object of type 'Cursor' has no len()

In [36]:
#list(documentos)

In [38]:
variable = list(documentos)

In [39]:
len(variable)

2548

In [41]:
type(variable)

list

In [42]:
print(variable[0])

{'_id': ObjectId('55f14312c7447c3da7051b27'), 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu', 'address': '376 Rayleigh Road', 'address line 2': 'Essex', 'name': '@ Thai', 'outcode': 'SS9', 'postcode': '5PT', 'rating': 5.5, 'type_of_food': 'Thai'}

In [ ]:
# Hacemos un filtrado para ver los que tienen un rating de 5

In [43]:
cinco = list(collection.find({"rating": 5}))

In [44]:
type(cinco)

list

In [46]:
#cinco

In [47]:
import pandas as pd

In [48]:
df = pd.DataFrame(cinco)
df.head()

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b26,http://www.just-eat.co.uk/restaurants-cn-chine...,228 City Road,Cardiff,.CN Chinese,CF24,3JH,5,Chinese
1,55f14312c7447c3da7051b33,http://www.just-eat.co.uk/restaurants-104-turk...,104 Tanners Lane,Essex,104 Turkish BBQ,IG6,1QE,5,Turkish
2,55f14312c7447c3da7051b31,http://www.just-eat.co.uk/restaurants-100-degr...,67 Park Street,Treforest,100 Degrees Chinese Restaurant,CF37,1SN,5,Chinese
3,55f14312c7447c3da7051b34,http://www.just-eat.co.uk/restaurants-109resta...,109 Westbourne Park Road,London,109 Ristorante,W2,5QL,5,Pizza
4,55f14312c7447c3da7051b32,http://www.just-eat.co.uk/restaurants-100menu-...,50 Wallgate,Wigan,100 Menu,WN1,1JU,5,Chinese

##¬†Proyecci√≥n
Cuando se realiza una consulta en MongoDB usando .find() lo que retorna dicha consulta es el conjunto de documentos correspondientes a la consulta. Se devolver√°n por defecto los documentos completos con todos sus campos. Aunque podemos seleccionar los campos de un documento que queremos devuelva la consulta, o lo que es lo mismo hacer una MongoDB Projection.    
Si queremos seleccionar varios campos, simplemente tenemos que indicar el nombre del campo seguido de un 1. O bien usar un 0 para eliminar los campos a mostrar:

El campo `_id` se devuelve por defecto

Sintaxis:    
`collection.find(filtro, proyecci√≥n)`

In [49]:
proj = {"rating":1, "name":1}

In [51]:
list(collection.find({"rating": 5}, {"rating":1, "name":1}))[0]

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'name': '.CN Chinese',
 'rating': 5}

In [53]:
# Si queremos que no nos muestre el ObjectId

In [52]:
list(collection.find({"rating": 5}, {"rating":1, "name":1, "_id":0}))[0]

{'name': '.CN Chinese', 'rating': 5}

In [54]:
filtro = {"rating": 5}
proj = {"rating":1, "name":1}

In [56]:
list(collection.find(filtro,proj))[0]

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'name': '.CN Chinese',
 'rating': 5}

In [57]:
list(collection.find({"rating": 5}, {}))[0]

{'_id': ObjectId('55f14312c7447c3da7051b26')}

## Otros m√©todos

### `distinct`
¬øCu√°ntos valores distintos tiene un campo en toda la colecci√≥n?

In [58]:
collection.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 'Not yet rated']

In [59]:
collection.distinct("type_of_food")

['*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers',
 'Cakes',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Curry',
 'Desserts',
 'English',
 'Ethiopian',
 'Fish & Chips',
 'Greek',
 'Grill',
 'Healthy',
 'Ice Cream',
 'Japanese',
 'Kebab',
 'Korean',
 'Lebanese',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Milkshakes',
 'Moroccan',
 'Nigerian',
 'Pakistani',
 'Pasta',
 'Peri Peri',
 'Persian',
 'Pick n Mix',
 'Pizza',
 'Polish',
 'Portuguese',
 'Punjabi',
 'Russian',
 'Sandwiches',
 'South Curry',
 'Spanish',
 'Sri-lankan',
 'Sushi',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese']

### `count`
Devuelve el recuento de documentos que coincidir√≠an con una consulta find() para la colecci√≥n o vista. El m√©todo db.collection.count() no realiza la operaci√≥n find() sino que cuenta y devuelve el n√∫mero de resultados que coinciden con una consulta.
Sintaxis:    
     
`collection.count_documents(filtro)`

In [61]:
collection.count_documents({})

2548

In [62]:
len(list(collection.find()))

2548

In [79]:
import time

In [80]:
# Directamente me cuenta los documentos en mongo que cumplen con el filtro y no necesito traerlos
%time
collection.count_documents({"rating":6})

CPU times: user 3 ¬µs, sys: 1e+03 ns, total: 4 ¬µs
Wall time: 6.91 ¬µs

49

In [82]:
#Equivalente pero cargando todo en memoria al extraer con list la informaci√≥n del cursor
%time
len(list(collection.find({"rating":6})))

CPU times: user 3 ¬µs, sys: 1e+03 ns, total: 4 ¬µs
Wall time: 7.15 ¬µs

49

### `sort`
Podemos `ordenar` el resultado de un `find`

`1` --> Orden ascendente     
`-1` --> Orden desdendente

In [83]:
proj = {"_id": 0, "rating": 1,  "type_of_food": 1, "name":1}

In [97]:
chinos_as = list(collection.find({"type_of_food": "Chinese"}, proj).sort("rating",1))

In [98]:
#chinos_as

In [99]:
#Ordenados en orden descendente
chinos_des = list(collection.find({"type_of_food": "Chinese"}, proj).sort("rating",-1))

In [100]:
#chinos_des

In [110]:
filtro_chi = {"type_of_food": "Chinese"}

In [111]:
chinos_3 = list(collection.find(filtro_chi, proj).sort("name",1))

In [113]:
#chinos_3

### `limit`

Podemos `limitar` el resultado de un `find`

In [116]:
chinos_limit = list(collection.find({"type_of_food": "Chinese"}, proj).limit(7))
len(chinos_limit)

7

### `skip`
Podemos `omitir` algunos resultados de un `find`    
Llame al m√©todo skip() en un cursor para controlar d√≥nde empieza MongoDB a devolver resultados. Este enfoque puede ser √∫til para implementar resultados paginados.

In [120]:
list(collection.find({"type_of_food": "Chinese"}, proj).sort("rating",1).skip(2).limit(3))

[{'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'}]

## Operadores de consulta t√≠picos
Los operadores de consulta van precedidos del signo de d√≥lar `$`.

In [121]:
c = collection

### Mayor que / Menor que
Es un campo num√©rico mayor o menor que un valor determinado

In [122]:
# Menor que: less than
c.find({"rating": {"$lt": 2}})

In [124]:
list(c.find({"rating": {"$lt": 2}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051cec'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'postcode': '9SE',
  'rating': 1,
  'type_of_food': 'Chicken'},
 {'_id': ObjectId('55f14312c7447c3da7051ceb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'postcode': '9SE',
  'rating': 1,
  'type_of_food': 'Chicken'}]

In [125]:
# Mayor que: greater than
list(c.find({"rating": {"$gt": 2}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [126]:
# Mayor o igual / Menor o igual a√±adimos la e
list(c.find({"rating": {"$lte": 2}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051cec'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'postcode': '9SE',
  'rating': 1,
  'type_of_food': 'Chicken'},
 {'_id': ObjectId('55f14312c7447c3da7051ceb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'postcode': '9SE',
  'rating': 1,
  'type_of_food': 'Chicken'}]

In [127]:
list(c.find({"rating": {"$gte": 2}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [138]:
in_ = input("¬øqU√â QUIERES BUSCAR ")

¬øqU√â QUIERES BUSCAR rating

In [140]:
in_2 = int(input("¬øDe cu√°nto "))

¬øDe cu√°nto 5

In [141]:
filtro = {f"{in_}": {"$gte": in_2}}

In [142]:
list(c.find(filtro).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [143]:
# Escribir la sintaxis en una variable puede sernos √∫til
mayorigual = {"rating": {"$gte": 5}}

In [144]:
list(c.find(mayorigual,proj).limit(5))

[{'name': '@ Thai', 'rating': 5.5, 'type_of_food': 'Thai'},
 {'name': '.CN Chinese', 'rating': 5, 'type_of_food': 'Chinese'},
 {'name': '@Indian.com', 'rating': 6, 'type_of_food': 'Curry'},
 {'name': '007 Takeaway', 'rating': 6, 'type_of_food': 'Pizza'},
 {'name': '104 Turkish BBQ', 'rating': 5, 'type_of_food': 'Turkish'}]

### `exists`    
Cuando <boolean> es verdadero, $exists coincide con los documentos que contienen el campo, incluidos los documentos en los que el valor del campo es nulo. Si <boolean> es falso, la consulta devuelve s√≥lo los documentos que no contienen el campo

In [150]:
list(c.find({"rating": {"$exists": True}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [151]:
list(c.find({"address line 2": {"$exists": True}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [152]:
#¬†No hay ning√∫n documento  que no tenga el campo "address line 2"
# Comprobamos los registros a los que les falta un campo con false
list(c.find({"rating": {"$exists": False}}))

[]

### `regex`     
Ofrece la posibilidad de utilizar expresiones regulares para la b√∫squeda de patrones en las consultas.

In [153]:
query = {"name": {"$regex": ".*Halal.*"}}
project = {"name":1, "_id":0}

In [154]:
list(c.find(query,project))

[{'name': 'Acha Halal Chinese Cuisine'},
 {'name': 'Beirut Lebanese Halal Restaurant'},
 {'name': 'Beirut Lebanese Halal Restaurant'}]

In [156]:
query2 = {"name": {"$regex": ".*\d.*"}}

In [158]:
list(c.find(query2,project).limit(3))

[{'name': '007 Takeaway'},
 {'name': '042 Restaurant & Bar'},
 {'name': '042 Restaurant & Bar'}]

### `and`      
Realiza una operaci√≥n l√≥gica AND en una matriz de una o m√°s expresiones (por ejemplo, <expresi√≥n1>, <expresi√≥n2>, etc.) y selecciona los documentos que satisfacen todas las expresiones de la matriz. El operador $and utiliza la evaluaci√≥n en circuito corto. Si la primera expresi√≥n (por ejemplo, <expresi√≥n1>) se eval√∫a como falsa, MongoDB no evaluar√° las expresiones restantes.

Sintaxis del AND  
`find({"$and": [cond1, cond2]})`

In [160]:
list(c.find({"$and": [{"rating": {"$gt": 3}}, {"type_of_food": "Chinese"}]}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2f'),
  'URL': 'http://www.just-eat.co.uk/restaurants-1-2-3-chinese-rowlands-gill/menu',
  'address': 'Unit 4 Spencer House',
  'address line 2': 'Swalwell',
  'name': '1 2 3 Chinese',
  'outcode': 'NE16',
  'postcode': '3DS',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b30'),
  'URL': 'http://www.just-eat.co.uk/restaurants-1-2-3-chinese-rowlands-gill/menu',
  'address': 'Unit 4 Spencer House',
  'address line 2': 'Swalwell',
  'name': '1 2 3 Chinese',
  'outcode': 'NE16',
  'postcode': '3DS',
  'rating': 4.5,
  'type_of_food': 'Chinese'}]

In [161]:
condicion1 = {"rating": {"$gt": 3}}
condicion2 = {"type_of_food": "Chinese"}

In [164]:
list(c.find({"$and": [condicion1,condicion2]}, proj).limit(5))

[{'name': '.CN Chinese', 'rating': 5, 'type_of_food': 'Chinese'},
 {'name': '1 2 3 Chinese', 'rating': 4.5, 'type_of_food': 'Chinese'},
 {'name': '1 2 3 Chinese', 'rating': 4.5, 'type_of_food': 'Chinese'},
 {'name': '100 Degrees Chinese Restaurant',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'name': '100 Menu', 'rating': 5, 'type_of_food': 'Chinese'}]

In [166]:
proj

{'_id': 0, 'rating': 1, 'type_of_food': 1, 'name': 1}

In [ ]:
# Tambi√©n funciona as√≠

In [ ]:
{"type_of_food": "Chinese", "rating":{"$gte":5}, {"name": {"$regex": ".*\d.*"}}

In [172]:
#¬†NO LO HAG√ÅIS AS√ç, AUNQUE FUNCIONA
list(c.find({"type_of_food": "Chinese", "rating": {"$gte":5}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b31'),
  'URL': 'http://www.just-eat.co.uk/restaurants-100-degrees-chinese-restaurant-pontypridd/menu',
  'address': '67 Park Street',
  'address line 2': 'Treforest',
  'name': '100 Degrees Chinese Restaurant',
  'outcode': 'CF37',
  'postcode': '1SN',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b32'),
  'URL': 'http://www.just-eat.co.uk/restaurants-100menu-wn1/menu',
  'address': '50 Wallgate',
  'address line 2': 'Wigan',
  'name': '100 Menu',
  'outcode': 'WN1',
  'postcode': '1JU',
  'rating': 5,
  'type_of_food': 'Chinese'}]

In [179]:
#CONDICIONES ILIMITADAS
cond1 = {"type_of_food": "Chinese"}
cond2 = {"rating":{"$gte":5}}
cond3 = {"name": {"$regex": ".*\d.*"}}

In [180]:
list(c.find({"$and": [cond1,cond2,cond3]}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b31'),
  'URL': 'http://www.just-eat.co.uk/restaurants-100-degrees-chinese-restaurant-pontypridd/menu',
  'address': '67 Park Street',
  'address line 2': 'Treforest',
  'name': '100 Degrees Chinese Restaurant',
  'outcode': 'CF37',
  'postcode': '1SN',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b32'),
  'URL': 'http://www.just-eat.co.uk/restaurants-100menu-wn1/menu',
  'address': '50 Wallgate',
  'address line 2': 'Wigan',
  'name': '100 Menu',
  'outcode': 'WN1',
  'postcode': '1JU',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b35'),
  'URL': 'http://www.just-eat.co.uk/restaurants-113-fish-bar-wallasey/menu',
  'address': '113 Poulton Road',
  'address line 2': 'Merseyside',
  'name': '113 Fish Bar',
  'outcode': 'CH44',
  'postcode': '9DE',
  'rating': 5.5,
  'type_of_food': 'Chinese'}]

In [203]:
#¬†Mirar regex
cond_regex = {"name": {"$regex": "[^0-9]"}}

In [205]:
list(c.find(cond_regex,proj).limit(3))

[{'name': '@ Thai', 'rating': 5.5, 'type_of_food': 'Thai'},
 {'name': '.CN Chinese', 'rating': 5, 'type_of_food': 'Chinese'},
 {'name': '@ Thai Restaurant', 'rating': 4.5, 'type_of_food': 'Thai'}]

### `or`     
El operador or realiza una operaci√≥n l√≥gica OR en una matriz de dos o m√°s expresiones y selecciona los documentos que satisfacen al menos una de las expresiones.    
El operador $or tiene la siguiente sintaxis:      
`colecci√≥n.find({"$or": [condici√≥n1, condici√≥n, condici√≥n3 ]})`

In [212]:
list(c.find({"$or": [{"address":{"$regex": "Road.*"}}, {"type_of_food": "Pizza"}]}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [214]:
# Hacemos una query que mezcle and y or y sea: Mayor que 3 y chino, o tailand√©s
mayor = {"rating": {"$gt": 3}}
chin = {"type_of_food": "Chinese"}
thai = {"type_of_food": "Thai"}

In [216]:
list(c.find({"$or": [{"$and":[mayor,chin]}, thai]}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

### `ne`    
Not equal  
Selecciona los documentos en los que el valor del campo no es igual al valor especificado. Esto incluye los documentos que no contienen el campo.

In [217]:
list(c.find({"type_of_food": {"$ne": "Pizza"}, "rating": 6}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'address': '9 Broughton Hall Road',
  'address line 2': 'Broughton',
  'name': '@Indian.com',
  'outcode': 'CH4',
  'postcode': '0QR',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051bbc'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aarthi-sw19/menu',
  'address': '5 Kingston Road',
  'address line 2': 'London',
  'name': 'Aarthi',
  'outcode': 'SW19',
  'postcode': '1JX',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051bfb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-absharindian-ig6/menu',
  'address': '43 High Street',
  'address line 2': 'Ilford',
  'name': 'Abshar Indian Cuisine',
  'outcode': 'IG6',
  'postcode': '2AD',
  'rating': 6,
  'type_of_food': 'Punjabi'}]

In [223]:
# Resolvemos el dilema del regex anterior de los n√∫meros
list(c.find({"name": {"$ne": {"$regex": "\d+"}}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

### `in`     
El operador in selecciona los documentos en los que el valor de un campo es igual a cualquier valor de la matriz especificada. Para especificar una expresi√≥n $in, utilice el siguiente prototipo:     
```python
{ field: { $in: [<value1>, <value2>, ... <valueN> ] } }
 ```

In [224]:
list(c.find({"rating": {"$in": [3,4,5]}}).limit(4))

[{'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2e'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'},
 {'_id': ObjectId('55f14312c7447c3da7051b2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'},
 {'_id': ObjectId('55f14312c7447c3da7051b2d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
  'address': '885 High Road Leytonstone',
  'address line 2': 'London',
  'name': '042 Restaurant & Bar',
  'outcode': 'E11',
  'postcode': '1HR',
  'rating': 3,
  'type_of_food': 'African'}]

In [225]:
list(c.find({"type_of_food": {"$in": ["Pizza", "Thai", "hola no doy error"]}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b29'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

### `nin`     

Sintaxis: 
```python
{ campo: { $nin: [ <valor1>, <valor2> ... <valorN> ]} }
```

not in selecciona los documentos en los que

- el valor del campo no est√° en la matriz especificada 
- el campo no existe.

In [226]:
list(c.find({"rating": {"$nin": [2,3,4]}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
  'address': '228 City Road',
  'address line 2': 'Cardiff',
  'name': '.CN Chinese',
  'outcode': 'CF24',
  'postcode': '3JH',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

In [227]:
tipos = ["Thai", "Burger","Pizza"]

In [230]:
list(c.find({"type_of_food":{"$in":tipos}}).limit(3))

[{'_id': ObjectId('55f14312c7447c3da7051b27'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
  'address': '376 Rayleigh Road',
  'address line 2': 'Essex',
  'name': '@ Thai',
  'outcode': 'SS9',
  'postcode': '5PT',
  'rating': 5.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b28'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051b29'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atthairestaurant/menu',
  'address': '30 Greyhound Road Hammersmith',
  'address line 2': 'London',
  'name': '@ Thai Restaurant',
  'outcode': 'W6',
  'postcode': '8NX',
  'rating': 4.5,
  'type_of_food': 'Thai'}]

##¬†Update    
Modifica un documento o documentos existentes en una colecci√≥n. El m√©todo puede modificar campos espec√≠ficos de un documento o documentos existentes o reemplazar un documento existente por completo, dependiendo del par√°metro de actualizaci√≥n.   
Cuidado, esta acci√≥n no se puede deshacer.     
Sintaxis:
```python
colecci√≥n.update_many(condici√≥n/filtro, actualizaci√≥n)
```

Podemos actualizar un campo con `$set` y con `$unset` lo borramos

In [231]:
list(c.find({"rating": "Not yet rated"}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b36'),
  'URL': 'http://www.just-eat.co.uk/restaurants-133-takeaway-irvine/menu',
  'address': '133 Fullarton Street',
  'address line 2': 'Irvine',
  'name': '133 Takeaway',
  'outcode': 'KA12',
  'postcode': '8DG',
  'rating': 'Not yet rated',
  'type_of_food': 'Breakfast'}]

In [232]:
c.update_many(
    {"rating": "Not yet rated"},
    {"$set": {"rating": 0}}
)

In [233]:
list(c.find({"rating": "Not yet rated"}).limit(1))

[]

In [234]:
list(c.find({"rating": 0}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051b36'),
  'URL': 'http://www.just-eat.co.uk/restaurants-133-takeaway-irvine/menu',
  'address': '133 Fullarton Street',
  'address line 2': 'Irvine',
  'name': '133 Takeaway',
  'outcode': 'KA12',
  'postcode': '8DG',
  'rating': 0,
  'type_of_food': 'Breakfast'}]

In [238]:
c.update_many(
    {"rating": 0},
    {"$set": {"postcode": "hola qu√© tal"}}
)

In [237]:
c.update_many(
    {"rating": 1},
    {"$set": {"postcode": 12345}}
)

In [239]:
c.update_many(
    {"rating": 1},
    {"$unset": {"postcode": 12345}}
)

In [241]:
list(c.find({"rating": 1}).limit(1))

[{'_id': ObjectId('55f14312c7447c3da7051cec'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'rating': 1,
  'type_of_food': 'Chicken'}]

In [244]:
# Utilizamos exists para ver los que no tienen campo postcode
list(c.find({"postcode": {"$exists": False}}).limit(2))

[{'_id': ObjectId('55f14312c7447c3da7051cec'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'rating': 1,
  'type_of_food': 'Chicken'},
 {'_id': ObjectId('55f14312c7447c3da7051ceb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
  'address': '343 Soho Road',
  'address line 2': 'Birmingham',
  'name': 'Al Dixi Fried Chicken & Grill House',
  'outcode': 'B21',
  'rating': 1,
  'type_of_food': 'Chicken'}]

In [246]:
# La sintaxis del UNSET se escribe con un diccionario vac√≠o

In [248]:
c.update_many(
    {"$and": [{"rating": {"$in":[0,1,2,3]}},{"postcode": "hola qu√© tal"}]},
    {"$unset": {"postcode": {}}}
)

## Delete     
Elimina de una colecci√≥n todos los documentos que coinciden con el filtro.
Sintaxis:
```python
c.delete_many(condition/filtro)
```

In [249]:
c.delete_many({"rating": 0})

In [250]:
list(c.find({"rating": 0}))

[]

##¬†Insert

Insertamos documentos en la colecci√≥n
Sintaxis 
```python
db.collection.insert()
```

In [251]:
documento = { "hola": "qu√© tal",
             "direcci√≥n": "Paseo de la chopera 14"   
}

In [256]:
db.restaurants.insert(documento)

<ipython-input-256-807d32585737>:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  db.restaurants.insert(documento)

ObjectId('612e1af9ccdec364163157a2')

In [258]:
list(c.find({"hola": "qu√© tal"}))

[{'_id': ObjectId('612e1af9ccdec364163157a2'),
  'hola': 'qu√© tal',
  'direcci√≥n': 'Paseo de la chopera 14'}]

##¬†Info extra 
Campos de consulta anidados

In [259]:
otra = db.get_collection("companies")
otra

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [260]:
otra.find_one()

{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
 'name': 'AdventNet',
 'permalink': 'abc3',
 'crunchbase_url': 'http://www.crunchbase.com/company/adventnet',
 'homepage_url': 'http://adventnet.com',
 'blog_url': '',
 'blog_feed_url': '',
 'twitter_username': 'manageengine',
 'category_code': 'enterprise',
 'number_of_employees': 600,
 'founded_year': 1996,
 'deadpooled_year': 2,
 'tag_list': '',
 'alias_list': 'Zoho ManageEngine ',
 'email_address': 'pr@adventnet.com',
 'phone_number': '925-924-9500',
 'description': 'Server Management Software',
 'created_at': datetime.datetime(2007, 5, 25, 19, 24, 22),
 'updated_at': 'Wed Oct 31 18:26:09 UTC 2012',
 'overview': '<p>AdventNet is now <a href="/company/zoho-manageengine" title="Zoho ManageEngine" rel="nofollow">Zoho ManageEngine</a>.</p>\n\n<p>Founded in 1996, AdventNet has served a diverse range of enterprise IT, networking and telecom customers.</p>\n\n<p>AdventNet supplies server and network management software.</p>',
 'image': {'available_sizes': [[[150, 55],
    'assets/images/resized/0001/9732/19732v1-max-150x150.png'],
   [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-250x250.png'],
   [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-450x450.png']]},
 'products': [],
 'relationships': [{'is_past': True,
   'title': 'CEO and Co-Founder',
   'person': {'first_name': 'Sridhar',
    'last_name': 'Vembu',
    'permalink': 'sridhar-vembu'}},
  {'is_past': True,
   'title': 'VP of Business Dev',
   'person': {'first_name': 'Neil',
    'last_name': 'Butani',
    'permalink': 'neil-butani'}},
  {'is_past': True,
   'title': 'Usabiliy Engineer',
   'person': {'first_name': 'Bharath',
    'last_name': 'Balasubramanian',
    'permalink': 'bharath-balasibramanian'}},
  {'is_past': True,
   'title': 'Director of Engineering',
   'person': {'first_name': 'Rajendran',
    'last_name': 'Dandapani',
    'permalink': 'rajendran-dandapani'}},
  {'is_past': True,
   'title': 'Market Analyst',
   'person': {'first_name': 'Aravind',
    'last_name': 'Natarajan',
    'permalink': 'aravind-natarajan'}},
  {'is_past': True,
   'title': 'Director of Product Management',
   'person': {'first_name': 'Hyther',
    'last_name': 'Nizam',
    'permalink': 'hyther-nizam'}},
  {'is_past': True,
   'title': 'Western Regional OEM Sales Manager',
   'person': {'first_name': 'Ian',
    'last_name': 'Wenig',
    'permalink': 'ian-wenig'}}],
 'competitions': [],
 'providerships': [{'title': 'DHFH',
   'is_past': True,
   'provider': {'name': 'A Small Orange', 'permalink': 'a-small-orange'}}],
 'total_money_raised': '$0',
 'funding_rounds': [],
 'investments': [],
 'acquisition': None,
 'acquisitions': [],
 'offices': [{'description': 'Headquarters',
   'address1': '4900 Hopyard Rd.',
   'address2': 'Suite 310',
   'zip_code': '94588',
   'city': 'Pleasanton',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': 37.692934,
   'longitude': -121.904945}],
 'milestones': [],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 94],
     'assets/images/resized/0004/3400/43400v1-max-150x150.png'],
    [[250, 156], 'assets/images/resized/0004/3400/43400v1-max-250x250.png'],
    [[450, 282], 'assets/images/resized/0004/3400/43400v1-max-450x450.png']],
   'attribution': None}],
 'external_links': [],
 'partners': []}

In [261]:
filtro = {"offices.description": "Headquarters"}

In [277]:
#list(otra.find(filtro).limit(4))

In [274]:
filtro2 = {"acquisition.acquired_month": {"$lte": 4}}

In [275]:
#list(otra.find(filtro2).limit(3))

In [268]:
#¬†Vamos a buscar las que no han sido compradas
filtro3 = {"acquisition": None}

In [280]:
#list(otra.find(filtro3).limit(4))

##¬†Resumen
Tu turno ¬øqu√© hemos aprendido hoy?

- Comillas siempre en las queries porque en mongo funciona sin ellas pero en python no
- Cada docuemento de mongodb es un diccionario de python
- Cuidado que va topadentro
- Signo de dolar para los m√©todos de mongo ("$in", "$gte", "$exists")
- Las condiciones son otros diccionarios
- And y OR llevan como value una LISTA donde cada elemento es una condici√≥n
- Siempre intentar poner las condiciones fuera para hacer la sintaxis m√°s legible
- Si hacemos cambios en los documentos son irreversibles
- Regex NOS FLIPA
- Limit, sort, limitan queries y ordenan para que trabaje mongo y no python
- cuando hago find viene un ITERADOR / CURSOR de mongo
- Colecciones y no tablas
- get_database / get_colletion
- Parae

## Further Materials
- Cursos de mongo desarrollados directamente por MongoDB (gratis y MUY COMPLETOS) [AQU√ç](https://university.mongodb.com/)
- Art√≠culo tutorial [primeros pasos](https://www.ionos.es/digitalguide/paginas-web/desarrollo-web/tutorial-de-mongodb-primeros-pasos/)

- Qu√© es mongo: [conceptos interesantes avanzados no vistos en clase](https://openwebinars.net/blog/que-es-mongodb/) 
- Beginner`s guide mongo con [python](https://www.analyticsvidhya.com/blog/2020/02/mongodb-in-python-tutorial-for-beginners-using-pymongo/)